<%@messages.each do |msg|%>
  <%if msg.user.isLogin?(current_user)%>
    <div class="msgRight fr">
      <div class="grayBkg">
        <p><%=msg.body%></p>
      </div>
      <div class="time tar"><%=msg.created_at.strftime("%I:%M %p")%></div>
    </div>
  <%else%>        
    <div class="msgRight fl">
      <div class="grayBkg">
        <p><%=msg.body%></p>
      </div>
      <div class="time tal"><%=msg.created_at.strftime("%I:%M %p")%></div>
    </div>
  <%end%>  
<%end%>
<%= subscribe_to conversation_path(@messages) %>
<script type="text/javascript">
  PrivatePub.sign({
    channel: "/conversations",
    timestamp: 1302306682972,
    signature: "dc1c71d3e959ebb6f49aa6af088d",
    server: "http://localhost:9292/faye"
  });
</script>