<%@friends.each do |friend|%>
  <li>
    <div class="clearfix commentSec cmntRow <%='activeMsg' if friend.id==params[:conversation_id].to_i%>">
      <div class="clearfix userInfo posRel" onclick="window.location='<%=conversation_message_path(friend, current_user)%>';">
        <a href="<%=conversation_message_path(friend, current_user)%>" class="userImg"><img src="<%=friend.try(:img)%>" alt=""></a> <a href="<%=conversation_message_path(friend, current_user)%>" class="userNAme font14"><%=friend.try(:screen_name)%></a> <br>        
        <div class="fr grayColor tar"><%= time_ago_in_words(friendship(friend)).capitalize %></div>
        <div class="font13"><%=designations(friend)%></div>
        <div class="blackColor font12 bold"> is now a connection</div>
      </div>
      <a href="<%=archive_conversation_messages_path(friend)%>" class="removeMSg"> <span class="glyphicon glyphicon-remove"></span></a>
    </div>
  </li>
<%end%>