<%@friends.each do |friend|%>
  <li>
    <div class="clearfix commentSec cmntRow myfriends <%='activeMsg' if friend.id==params[:conversation_id].to_i%>" id = "friend_<%=friend.id%>">
      <div class="clearfix userInfo posRel" onclick="$.ajax('<%=conversation_message_path(friend, current_user)%>',{async:false});">
        <a href="<%=conversation_message_path(friend, current_user)%>" class="userImg"><img src="<%=friend.try(:img)%>" alt="" data-remote=true></a> <a href="<%=conversation_message_path(friend, current_user)%>" class="userNAme font14" data-remote=true><%=friend.try(:screen_name)%></a> <br>        
        <div class="fr grayColor tar"><%= time_ago_in_words(friendship(friend)).capitalize %></div>
        <div class="font13"><%=designations(friend)%></div>
        <div class="blackColor font12 bold"> is now a connection</div>
      </div>
      <a href="<%=archive_conversation_messages_path(friend)%>" data-remote=true class="removeMSg"> <span class="glyphicon glyphicon-remove"></span></a>
    </div>
  </li>
<%end%>
<!-- script for loader -->
<script> 
  // $(document).ajaxStart(function() {
  //   $(".ajax-loading").show();
  // });

  // $(document).ajaxStop(function() { 
  //   $(".ajax-loading").hide();
  //   $(".loader-img").hide();
  //  });
</script>
<!-- script for loader -->