<div class="clearfix whiteBox">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">Add category </div>
    </div>
    <div class="col-sm-12 addSkills">
      <label class="font18">Select Category </label><br>
    </div>
    <%=form_for @category, url: category_profiles_path, method: true do |f|%>
      <%Category.all.each_with_index do |category, index|%>        
        <div class="col-sm-6 <%=index.even? ? 'pr10' : 'pl10'%> categoriesChk">
          <%if current_user.users_category.present? && current_user.users_category.category_ids.include?(category.id.to_s)%>
            <%= check_box_tag 'category_ids[]', category.id,:checked=>true%> <%=category.try(:name)%>
          <%else%>
            <%= check_box_tag 'category_ids[]', category.id%> <%=category.try(:name)%>
          <%end%>
        </div>
      <%end%>    
      <div class="clearfix"></div>
      <div class="col-sm-12 mt10">
        <%= submit_tag "Save", class: 'blueBtn' %>
        <a href="#" class="grayBtn">Cancel</a> 
      </div>
    <%end%>
  </div>
</div>