<div class="clearfix whiteBox">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">Add category </div>
    </div>
    <div class="col-sm-12 addSkills">
      <label class="font18">Select Category </label><br>
    </div>
    <%=form_tag category_profiles_path, class: "category_form", remote: true do |f|%>
      <%Category.all.each_with_index do |category, index|%>        
        <div class="col-sm-6 <%=index.even? ? 'pr10' : 'pl10'%> categoriesChk">          
          <label><%= check_box_tag 'category_ids[]', category.id, isCategory?(category)%> <%=category.try(:name)%></label>
        </div>
      <%end%>
      <div id="category_error" class="col-sm-12"></div>
      <div class="clearfix"></div>
      <div class="col-sm-12 mt10">
        <%= submit_tag "Save", class: 'blueBtn' %>
        <a href="#" class="grayBtn">Cancel</a> 
      </div>
    <%end%>
  </div>
</div>
<script>
  $("form.category_form").validate({
    errorPlacement: function(error, element) {
      if(element.attr("name") == "category_ids[]") {
        error.appendTo($("#category_error"));
      } else {
        error.insertAfter(element);
      }
    },
    rules: {
        "category_ids[]": { required: true }
    },
    messages: {
      "category_ids[]": "Please select category",
    },      
    submitHandler: function(form) {
      $('form.category_form').submit();
    }  
  });
</script>