<!-- Education history form -->
<%= form_for @education_history, url: education_path(@education_history), :html => { class: "education_form form-validate" }, :remote => true do |f| %>
  <div class="col-sm-6 pr10">
    <label>Course<span class="redColor">*</span></label>
    <div class="selctFormBox">          
      <%= text_field_tag "course", nil, :value=>select_type(f, "course_id", "Course"), class: "selectInput",:id=>'course'%>
      <%= f.select(:course_id, Course.all.collect {|c| [c.name, c.id]}, {:include_blank => "Select"}, class: "select validate[required]" , :selected => params[:course_id], "data-errormessage-value-missing"=>"Please select course")  %>
    </div>
    <div id="course_error"></div>
  </div>
  <div class="col-sm-6 pl10">
    <label>Specialization<span class="redColor">*</span></label>
    <div class="selctFormBox">
      <%= text_field_tag "specialization", nil, :value=>select_type(f, "specialization_id", "Specialization"), class: "selectInput" ,:id=>'specialization'%>
      <%= f.select(:specialization_id, Specialization.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, class: "select validate[required]", "data-errormessage-value-missing"=>"Please select Specialization")  %>
    </div>
    <div id="specialization_error"></div>
  </div>
  <div class="col-sm-12">
    <label class="">Institute/University<span class="redColor">*</span></label>
    <div class="selctFormBox fullWDdl">
      <%= hidden_field_tag :id, f.object.id%>
      <%= text_field_tag "institute", nil, :value=>select_type(f, "institute_id", "Institute"), class: "selectInput",:id=>'institute'%>
      <%= f.select(:institute_id, Institute.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, class: "select validate[required]", "data-errormessage-value-missing"=>"Please select Institute/University")  %>
    </div>
    <div id="institute_error"></div>
  </div>
  <div class="col-sm-6 pr10">
    <label>Start Year<span class="redColor">*</span></label>
    <div class="selctFormBox">
      <%= f.text_field :start_year, value: f.object.start_year ? f.object.start_year : "Select", name: "start_year", class: "selectInput validate[required]" %>
      <%= f.select(:start_year, 2000..Time.now.year, {:include_blank => "Select"}, class: "select validate[required]", "data-errormessage-value-missing"=>"Please select Start year")  %>
    </div>
    <div id="start_year_error"></div>
  </div>
  <div class="col-sm-6 pr10">
    <label>End Year<span class="redColor">*</span></label>
    <div class="selctFormBox">
      <%= f.text_field :end_year, value: f.object.end_year ? f.object.end_year : "Select", name: "end_year", class: "selectInput" %>
      <%= f.select(:end_year, 2000..Time.now.year, {:include_blank => "Select"},  class: "select validate[required]", "data-errormessage-value-missing"=>"Please select End year") %>
    </div>
    <div id="end_year_error"></div>      
  </div>
  <div class="col-sm-12 mt10">
    <%= f.submit "Save", class: 'blueBtn' %>
    <%= link_to "Cancel", "#-",class: 'cancel hided grayBtn' %>
  </div>
<%end%>
<!-- Education history form -->
<!-- script for input validation -->
<script>
  $(".form-validate").validationEngine();
</script>
<!-- script for input validation -->