<div class="clearfix whiteBox">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">EDUCATION HISTORY <%= link_to "Add Courses", "#-", :class=>'blueBtn fr addBtn' %></div>
    </div>
    <%= form_for @education_history, url: education_profiles_path, :remote => true do |f| %>
      <div class="col-sm-6 pr10">
        <label>Course</label>
        <div class="selctFormBox">          
          <%= text_field_tag "course", nil, :value=>'Select', class: "selectInput",:id=>'course'%>
          <%= f.select(:course_id, Course.all.collect {|c| [c.name, c.id]}, {:include_blank => "Select"}, class: "select")  %>
        </div>
      </div>
      <div class="col-sm-6 pl10">
        <label>Specialization</label>
        <div class="selctFormBox">
          <%= text_field_tag "specialization", nil, :value=>'Select', class: "selectInput" ,:id=>'specialization'%>
          <%= f.select(:specialization_id, Specialization.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, class: "select")  %>
        </div>
      </div>
      <div class="col-sm-12">
        <label class="">Institute/University</label>
        <div class="selctFormBox fullWDdl">
          <%= hidden_field_tag :id, f.object.id%>
          <%= text_field_tag "institute", nil, :value=>'Select', class: "selectInput",:id=>'institute'%>
          <%= f.select(:institute_id, Institute.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, class: "select")  %>
        </div>
      </div>
      <div class="col-sm-6 pr10">
        <label>Start Year</label>
        <%= f.text_field :start_year, class: "inputTextW small date fullWdth" %>
      </div>
      <div class="col-sm-6 pr10">
        <label>End Year</label>
        <%= f.text_field :end_year, class: " inputTextW small date fullWdth" %>
      </div>
      <div class="col-sm-12 mt10">
        <%= f.submit "Save", class: 'blueBtn' %>
        <%= link_to "Cancel", "#-",class: 'cancel grayBtn' %>
      </div>
    <%end%>
  </div>
</div>