<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id,:value=>current_user.id %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, [ 'Male', 'Female', 'Other' ], :prompt => 'Select One' %>
  </div>
   <div class="field">
    <%= f.label :type %><br>
    <%= f.select :profile_type, [ 'Individual', 'Company', 'Other' ], :prompt => 'Select One' %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
  <%= f.file_field :image%>
  </div>
  <div class="field">
    <%= f.label :phone_no %><br>
    <%= f.text_field :phone_no %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <%if params[:action]=='new'%>
  <div class="field">
    <%= f.label :screen_name %><br>
    <%= f.text_field :screen_name %>
  </div>
 <%end%>
  <div class="field">
    <%= f.label :country %><br>
    <%=f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br>
    <%= f.text_field :post_code %>
  </div>
 <div class="field">
   <%= f.label :ethnic_group %><br>
   White: <%= f.radio_button :ethnic_group,'white'%><br />
    Black: <%= f.radio_button :ethnic_group,'black'%><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
