<!-- Profile form -->
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix innerWIdth550 tac ">
      <div class="clearfix whiteBox mt30 profile">        
        <%=render 'profile'%>
      </div> 
      <!-- Render Education History --> 
      <div id="education_history"><%=render 'my_education_history'%></div>
      <!-- Render Education History -->
	  <!-- Render Emolyment Detail --> 
      <div class="employment-box"><%=render 'my_employment_detail'%></div>
      <!-- Render Emolyment Detail --> 
      <!-- Render Skills -->
      <div class="my_skillsTag">
        <%=render 'my_skill'%>
      </div>
      <!-- Render Skills -->
      <!-- Render Category -->
      <div class="my_category">
        <%=render 'my_category'%>
      </div>
      <!-- Render Category -->
    </div>    
  </div>
</div>
<!-- Profile form -->