<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix innerWIdth550 tac ">
      <div class="clearfix whiteBox mt30 profile">        
        <%=render 'profile'%>
      </div>  
      <div id="education_history"><%=render 'my_education_history'%></div>
      <div id="employment_detail"><%=render 'my_employment_detail'%></div>
      <!-- Render Skills -->
      <%=render 'skill'%>
      <!-- Render Category -->
      <%=render 'category'%>
    </div>    
  </div>
</div>