<%= nested_form_for(current_user, url: "#-", remote: :true) do |f| %>
  <%= f.fields_for :profile do |p| %>
    <div class="field">
      <%= p.label :image %><br>
      <%= p.file_field :image, class: "profile"%>
      <%=image_tag(p.object.try(:image).try(:url), width: "100px")%>
    </div>
    <div class="field">
      <%= p.label :first_name %><br>
      <%= p.text_field :first_name, class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :last_name %><br>
      <%= p.text_field :last_name, class: "profile" %>
    </div>

    <p>Address</p>
    <div class="field">
      <%= p.label :country %><br>
      <%= p.text_field :country, class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :city %><br>
      <%= p.text_field :city, class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :street %><br>
      <%= p.text_field :street, class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :post_code %><br>
      <%= p.text_field :post_code, class: "profile" %>
    </div>

    <div class="field">
      <%= p.label :gender %><br>
      <%= p.select :gender, [ 'Male', 'Female', 'Other' ], :prompt => 'Select One', class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :phone_no %><br>
      <%= p.text_field :phone_no, class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :type %><br>
      <%= p.select :profile_type, [ 'Individual', 'Company', 'Other' ], :prompt => 'Select One', class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :dob %><br>
      <%= p.text_field :dob,:class=>"datepicker", class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :screen_name %><br>
      <%= p.text_field :screen_name, class: "profile" %>
    </div>
    <div class="field">
      <%= p.label :location %><br>
      <%= p.text_field :location, class: "profile" %>
    </div>

    <div class="field">
      <%= p.label :ethnic_group %><br>
      White: <%= p.radio_button :ethnic_group,'white'%><br />
      Black: <%= p.radio_button :ethnic_group,'black'%><br />
    <div class="actions">
      <%= link_to "Save", "#-", id: "profile", class: 'save' %>
    </div>
  <%end%>

  <%#=hidden_field_tag :attribute%>
  <h1>Education History</h1>
  <p><%= f.link_to_add "Add a Course", :education_histories %></p>
  <%= f.fields_for :education_histories do |education| %>
    <%= education.label :course %><br/>
    <%= education.select(:course_id, Course.all.collect {|c| [c.name, c.id]}, :prompt => 'Select', class: "education_histories_attributes")  %>
    <%= education.label :Specialization %><br/>
    <%= education.select(:specialization_id, Specialization.all.collect {|s| [s.name, s.id]}, :prompt => 'Select', class: "education_histories_attributes")  %>
    <%= education.label "Institute/University" %><br/>
    <%= education.select(:institute_id, Institute.all.collect {|i| [i.name, i.id]}, :prompt => 'Select', class: "education_histories_attributes")  %>
    <%= education.label "Start Year" %><br/>
    <%= education.text_field :start_year, value: Date.today, class: "education_histories_attributes" %>
    <%= education.label "End Year" %><br/>
    <%= education.text_field :end_year, value: Date.today, class: "education_histories_attributes" %>
    <%= education.link_to_remove "Remove this course" %>
    <p><%= link_to "Save", "#-", id: "education_histories_attributes", class: 'save' %></p>
    <p><%= link_to "Cancel", "#-" %></p>
  <% end %>  
  


  <h1>Employment Details</h1>
  <p><%= f.link_to_add "Add Employment", :employment_details %></p>
  <%= f.fields_for :employment_details do |emp| %>
    <%= emp.label "Enter Designation" %><br/>
    <%= emp.text_field :designation, class: "employment_details_attributes" %>
    <%= emp.label :organization %><br/>
    <%= emp.text_field :designation, class: "employment_details_attributes" %>
    <%= emp.label "Start Working From" %><br/>
    <%= emp.text_field :start_work_date, value: Date.today, class: "employment_details_attributes" %>
    <%= emp.label "Worked Till" %><br/>
    <%= emp.text_field :worked_till, value: Date.today, class: "employment_details_attributes" %>
    <%= check_box_tag "current company"%><strong>Current Company</strong>
    <%= emp.label :description %><br/>
    <%= emp.text_area :description, class: "employment_details_attributes" %>    
    <%= emp.link_to_remove "Remove Employment" %>

    <p><%= link_to "Save", "#-", id: "employment_details_attributes", class: 'save' %></p>
    <p><%= link_to "Cancel", "#-" %></p>
  <% end %>


  <h1>Skills</h1>
  <%= f.fields_for :skills do |s| %>
    <%= s.label "Enter Skills" %><br/>    
    <%= s.text_field :name, class: "skills_attributes" %>

    <p><%= link_to "Add a skill", "#-" %></p>
    <p><%= link_to "Save", "#-", id: "skills_attributes", class: 'save' %></p>
    <p><%= link_to "Cancel", "#-" %></p>
  <%end%>

  <h1>Add Category</h1>
  <%Category.all.each_with_index do |category, index|%>  
    <%= check_box_tag "user[users_categories_attributes][#{index}][category_id]", category.try(:id), category.users_categories.where(user_id: current_user.id).present? ? true : false, class: "categories_attributes" %> <%=category.try(:name)%>
  <%end if Category.all%>

  <p><%= link_to "Save", "#-", id: "categories_attributes", class: 'save' %></p>
  <p><%= link_to "Cancel", "#-" %></p>
<%end%>


<script>
  $(document).on('click', 'a[class=save]', function() {
    // $("input[name=attribute]").val(this.id);    
    $.ajax({
      method: "put",
      url: "<%=profile_path(current_user)%>",
      data: $("."+this.id).serialize(),
      success :function(){
        return false;
      }
    })    
  });
</script>