<div class="clearfix whiteBox">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">EDUCATION HISTORY      
        <%if @user==current_user%>
         <a href="/profiles/add_education" class="blueBtn fr addBtn" data-remote=true> &nbsp;&nbsp; Add Education</a>
        <%end%>
      </div>

      <% @user.education_histories.each do |education_history| %>
        <% if current_user == education_history.user %>
          <%=link_to (image_tag 'images/edit.png'), edit_education_history_path(education_history), :remote => true  %>
          <%= link_to (image_tag 'images/delete.png'), education_history, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <div class="uniOuter">
          <div class="blackHD"><%= education_history.try(:specialization).try(:name)%>
            <img src="/assets/images/uni1.jpg" alt="" class="fr">
          </div>
          <div class="blackColor">
            <%= education_history.try(:course).try(:name) %>
            <div class="grayColor">
              <%= education_history.start_year%>–<%= education_history.end_year %>
            </div>
          </div>
        </div>
      <% end if @user.education_histories %>
    </div>
    <!-- Render Education Details -->
    <div class="education_history"><%#=render 'education_history'%></div>
  </div>
</div>