<!-- Showing employment detail form --> 
<div class="clearfix whiteBox">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">EMPLOYMENT DETAILS
        <% if @user==current_user %>
         <a href="/profiles/add_employment" class="blueBtn fr addBtn" data-remote=true onclick = "$('.ajax-loading').show();"> &nbsp;&nbsp; Add Employment</a>
        <% end%>
      </div>
      <% @user.employment_details.each do |employment| %>
        <%if current_user == employment.user%>
          <%=link_to (image_tag 'images/edit.png'), edit_employment_detail_path(employment), :remote => true  %>
          <%= link_to (image_tag 'images/delete.png'), employment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end %>
        <div class="uniOuter">
          <div class="blackHD"><%= employment.designation %>
            <!-- <img src="/assets/images/uni1.jpg" alt="" class="fr"> -->
          </div>
          <div class="blackColor">
            <%= employment.organization %>
            <div class="grayColor">            
              <%= employment.start_work_date.to_date.strftime("%b %Y") rescue nil %> – <%= employment.worked_till.to_date.strftime("%b %Y") rescue nil %>
            </div>
            <div class="mt20 blackColor borderBtm">
              <p><%= employment.try(:description)%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Render Employment Details -->
    <div class="employment_detail"></div>
  </div>
</div>
<!-- Showing employment detail form --> 