<!-- Start Profile form -->
<%= form_for current_user, url: profile_path(current_user), :html => { :multipart => true, :remote => true, class: "" ,:id => "form-id"} do |f| %>
  <%=f.fields_for :profile do |p|%>
    <div class="clearfix formOuterPost tal">
      <%= p.file_field :image, class: "profile profile_picture", style: "visibility: hidden; width: 1px; height: 1px" ,:onchange => "showimagepreview(this)" %>
      <!-- <input id="Photo" name="Photo" style="visibility: hidden; width: 1px; height: 1px" multiple="" type="file"> -->

      <div class="uploadPhoto" onclick="$('.profile_picture').click();" style="background-image: url(<%=p.object.try(:image).try(:url)%>);">
        <div class="reletive">
          <img src="/assets/images/camera.png" alt="" id='imgprevw'>
          <div>Change Photo</div>
        </div>
      </div>
      <div class="error img_error"></div>
      <div class="col-sm-6 pr10">
        <label>First Name</label>
        <%= f.text_field :first_name, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "First Name" %>
      </div>
      <div class="col-sm-6 pl10">
        <label>Last Name</label>
        <%= f.text_field :last_name, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "Last Name" %>
      </div>
      <div class="col-sm-12">
        <div class="blackHD">Address</div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>Address1</label>
        <%= p.text_field :address1, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "Address 1" %>
      </div>
      <div class="col-sm-6 pr10">
        <label>Address2</label>
        <%= p.text_field :address2, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "Address 2" %>
      </div>
      <div class="col-sm-6 pr10">
        <label>Country</label>
        <div class="selctFormBox">      
          <%= p.text_field "country", value: select_type(p, "country", "Country"), class: "profile selectInput validate[required]" %>
          <%= p.select(:country, country_list, {:include_blank => "Select"}, class: "select")  %>
        </div>
      </div>
      <div class="col-sm-6 pl10">
        <label class="">City</label>
        <%= p.text_field :city, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "City" %>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>State</label>
        <%= p.text_field :state, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "State" %>
      </div>
      <div class="col-sm-6 pl10">
        <label>Zipcode</label>
        <%= p.text_field :post_code, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "10001" %>
      </div>      
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>Gender</label>
        <div class="selctFormBox">      
          <%= p.text_field "gender", value: select_type(p, "gender"), class: "profile selectInput" %>
          <%= p.select(:gender, [['Male','male'],['Female','female']], {:include_blank => "Select"}, class: "select validate[required]")  %>
        </div>
        <div id="gender_error"></div>
      </div>
      <div class="col-sm-6 pl10">
        <label>Phone</label>
        <%= p.text_field :phone_no, class: "profile inputTextW small validate[required,custom[phone]],maxSize[20]", placeholder: "0123456789" %>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>Select Type</label>
        <div class="selctFormBox">
          <%= p.text_field "profile_type", value: select_type(p, "profile_type"), class: "profile selectInput validate[required]" %>
          <%= p.select(:profile_type, [['Individual','individual'],['Company','company'],['Other','other']], {:include_blank => "Select"}, class: "select")  %>
        </div>
        <div id="profile_type_error"></div>
      </div>
      <div class="col-sm-6 pl10">
        <label>Date of Birth</label>
          <%= p.text_field :dob, class: "profile inputTextW small date fullWdth dob validate[required]" %> 
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>Screen Name</label>
        <%= f.text_field :screen_name, class: "inputTextW small validate[required]", placeholder: "Screen Name" %>
      </div>
      <div class="col-sm-6 pl10">
        <label>Location</label>
        <%= p.text_field :location, class: "inputTextW small validate[required,maxSize[80]]", placeholder: "Location" %>
      </div>      
      <div class="col-sm-12">
        <input type="submit" value="Save " class="profile_submit blueBtn">        
        <%= link_to "Cancel", "/dashboard",class: 'grayBtn' %>
      </div>
    </div>
  <%end%>
<%end%>
<!-- End Profile form -->

<%if !mobile_device? %>  
  <script>
    $(window).load(function() {
      $('.dob').datetimepicker( {format: 'YYYY-MM-DD', maxDate: moment()});
      $("#form-id").validationEngine();
    });
  </script>
<% else %>
  <script>
    $('.dob').datetimepicker( {format: 'YYYY-MM-DD', maxDate: moment()});
    $("#form-id").validationEngine();
  </script>
<% end %>