<!-- Start Profile form -->
<%= form_for current_user, url: profile_path(current_user), :html => { :multipart => true, :remote => true, class: "" ,:id => "form-id"} do |f| %>
  <%=f.fields_for :profile do |p|%>
    <div class="clearfix formOuterPost tal">
      <%= p.file_field :image, class: "profile profile_picture", style: "visibility: hidden; width: 1px; height: 1px" ,:onchange => "showimagepreview(this)" %>
      <!-- <input id="Photo" name="Photo" style="visibility: hidden; width: 1px; height: 1px" multiple="" type="file"> -->

      <div class="uploadPhoto" onclick="$('.profile_picture').click();" style="background-image: url(<%=p.object.try(:image).try(:url)%>);">
        <div class="reletive">
          <img src="/assets/images/camera.png" alt="" id='imgprevw'>
          <div>Change Photo</div>
        </div>
      </div>
      <div class="error img_error"></div>
      <div class="col-sm-6 pr10">
        <label>First Name<span class="redColor">*</span></label>
        <%= f.text_field :first_name, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "First Name", "data-errormessage-value-missing"=>"First Name should not be blank" %>
      </div>
      <div class="col-sm-6 pl10">
        <label>Last Name<span class="redColor">*</span></label>
        <%= f.text_field :last_name, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "Last Name", "data-errormessage-value-missing"=>"Last Name should not be blank" %>
      </div>
      <div class="col-sm-12">
        <div class="blackHD">Address</div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>Address1<span class="redColor">*</span></label>
        <%= p.text_field :address1, class: "profile inputTextW small validate[required,maxSize[120]]", placeholder: "Address 1", "data-errormessage-value-missing"=>"Address1 should not be blank"%>
      </div>
      <div class="col-sm-6 pr10">
        <label>Address2<span class="redColor">*</span></label>
        <%= p.text_field :address2, class: "profile inputTextW small validate[required,maxSize[120]]", placeholder: "Address 2", "data-errormessage-value-missing"=>"Address2 should not be blank" %>
      </div>
      <div class="col-sm-6 pr10">
        <label>Country<span class="redColor">*</span></label>
        <div class="selctFormBox">
          <%= p.text_field "country", value: select_type(p, "country", "Country"), class: "profile selectInput validate[required]", "data-errormessage-value-missing"=>"Country should not be blank" %>
          <%= p.select(:country, Country.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select", :selected => p.object.try(:country).try(:id)}, class: "select")  %>
        </div>
      </div>
      <div class="col-sm-6 pl10">
        <label class="">City<span class="redColor">*</span></label>
        <%= p.text_field :city, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "City", "data-errormessage-value-missing"=>"City should not be blank" %>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>State<span class="redColor">*</span></label>
        <%= p.text_field :state, class: "profile inputTextW small validate[required,maxSize[80]]", placeholder: "State", "data-errormessage-value-missing"=>"State should not be blank" %>
      </div>
      <div class="col-sm-6 pl10">
        <label>Zipcode<span class="redColor">*</span></label>
        <%= p.text_field :post_code, class: "profile inputTextW small validate[required,maxSize[10]]", placeholder: "10001", "data-errormessage-value-missing"=>"Zipcode should not be blank" %>
      </div>      
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>Gender<span class="redColor">*</span></label>
        <div class="selctFormBox">      
          <%= p.text_field "gender", value: select_type(p, "gender"), class: "profile selectInput" %>
          <%= p.select(:gender, [['Male','male'],['Female','female']], {:include_blank => "Select"}, class: "select validate[required]", "data-errormessage-value-missing"=>"Please select Gender")  %>
        </div>
        <div id="gender_error"></div>
      </div>
      <div class="col-sm-6 pl10">
        <label>Phone<span class="redColor">*</span></label>
        <%= p.text_field :phone_no, class: "profile inputTextW small validate[required,custom[phone]],maxSize[20]", placeholder: "0123456789", "data-errormessage-value-missing"=>"Phone number should not be blank" %>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>Select Type<span class="redColor">*</span></label>
        <div class="selctFormBox">
          <%= p.text_field "profile_type", value: select_type(p, "profile_type"), class: "profile selectInput validate[required]", "data-errormessage-value-missing"=>"Please select Type" %>
          <%= p.select(:profile_type, [['Individual','individual'],['Company','company'],['Other','other']], {:include_blank => "Select"}, class: "select")  %>
        </div>
        <div id="profile_type_error"></div>
      </div>
      <div class="col-sm-6 pl10">
        <label>Date of Birth<span class="redColor">*</span></label>
          <%= p.text_field :dob, class: "profile inputTextW small date fullWdth dob validate[required]", "data-errormessage-value-missing"=>"Date of Birth should not be blank" %> 
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6 pr10">
        <label>Screen Name<span class="redColor">*</span></label>
        <%= f.text_field :screen_name, class: "inputTextW small validate[required]", placeholder: "Screen Name", "data-errormessage-value-missing"=>"Screen Name should not be blank" %>
      </div>
      <div class="col-sm-6 pl10">
        <label>Location<span class="redColor">*</span></label>
        <%= p.text_field :location, class: "inputTextW small validate[required,maxSize[80]]", placeholder: "Location", "data-errormessage-value-missing"=>"Location should not be blank" %>
      </div>      
      <div class="col-sm-12">
        <input type="submit" value="Save " class="profile_submit blueBtn">        
        <%= link_to "Cancel", "/dashboard",class: 'grayBtn' %>
      </div>
    </div>
  <%end%>
<%end%>
<!-- End Profile form -->

<%if !mobile_device? %>  
  <script>
    $(window).load(function() {
      $('.dob').datetimepicker( {format: 'YYYY-MM-DD', maxDate: moment()});
      $("#form-id").validationEngine();
    });
  </script>
<% else %>
  <script>
    $('.dob').datetimepicker( {format: 'YYYY-MM-DD', maxDate: moment()});
    $("#form-id").validationEngine();
    $( "#form-id" ).submit(function( event ) {      
      if ($("#form-id").children().find(".formError").size()==0){
        $(".ajax-loading").show();
      }
    });
  </script>
<% end %>