<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>User</th>
      <th>Gender</th>
      <th>Image</th>
      <th>Phone no</th>
      <th>Location</th>
      <th>Dob</th>
      <th>Screen name</th>
      <th>Specialization</th>
      <th>Street</th>
      <th>Post code</th>
      <th>City</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.user_id %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.image %></td>
        <td><%= profile.phone_no %></td>
        <td><%= profile.location %></td>
        <td><%= profile.dob %></td>
        <td><%= profile.screen_name %></td>
        <td><%= profile.specialization_id %></td>
        <td><%= profile.street %></td>
        <td><%= profile.post_code %></td>
        <td><%= profile.city %></td>
        <td><%= profile.country %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
