<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render "layouts/topNav"%>
     <div class="revalTop" >
          Note: To view the complete profile of the user you have to first reveal the identity of the user
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <div class="clearfix whiteBox mt30 borderBtmBlue">
        <div class="clearfix formOuterPost tal">
          <div class="ProfileTHumb">
          <% if !current_user.is_reveal_sent(@user) && (current_user != @user) %>
           <img src="../assets/images/arrowTop.png" alt="" class="arrowTop">
            <a href="#" class="backBtn  revealIdentity" data-toggle="modal" data-target="#revIdentity">Reveal Identity </a>
            <% end %>
            <div class="noConn">
              <div class="blueColor font16 bold"><%= @user.my_friends.count %></div>
              connections
            </div>
            <div class="thumbImg"> <%=image_tag @user.img%></div>
            <div class="font22"><%= @user.try(:screen_name).try(:capitalize) %></div>
            <div class="designation"> <%=@user.try(:employment_details).current_company.try(:last).try(:designation)%>
            </div>
          </div>
          <div class="tableOuterBtm ">
            <table>
              <tr>
                <td>Current</td>
                <td class="blackColor"> <%=@user.try(:employment_details).current_company.try(:last).try(:organization)%></td>
              </tr>
              <tr>
                <td>Education</td>
                <td class="blackColor"> <%=@user.try(:education_histories).try(:last).try(:institute).try(:name)%></td>
              </tr>
            </table>
            <%if !current_user.friendships.collect(&:friend).include? @user %>
            <span class="friendship-button-<%=  @user.id  %>">
            <%= link_to "Connect", friendships_path(:friend_id => @user.id), :class=>"mt10 fr grayColor tar ", :remote=>true ,:method => :post %>
            </span>
            <%end%>
          </div>
        </div>
      </div>
      <%if current_user.is_revealed(@user) ||  (current_user == @user)%>
      <%#= render 'education_history' %>
      <div id ='education_history'>
        <%=render 'my_education_history'%>
      </div>
      <%#= render 'employment_detail' %>
      <div id ='employment_detail'>
        <%#=render 'my_employment_detail'%>
      </div>
      <div class="my_skillsTag">
        <%=render 'my_skill'%>
      </div>
      <!-- Render Category -->
      <div class="my_category">
        <%=render 'my_category'%>
      </div>
      <% end %>
    </div>
  </div>
</div>  

<!-- Modal -->
<div class="modal fade" id="revIdentity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="clearfix modal-content">   
      <a class="close" data-dismiss="modal">X close</a>  
    
        <div class="blackHD tac font22">please reply to below question to reveal identity</div>
            <%= form_tag reveal_request_path(@user), :class=>"mt20",:id =>'form-id' do%>
            <%#= hidden_field_tag "user_id", nil, value => @user.id %>
            <div class="col-sm-12">
              <label class="">Q1 Why do want to reveal identity ?</label>
              <textarea class="inputTextW small validate[required]" name = "body1" placeholder=""></textarea>
            </div>
            
            <div class="col-sm-12">
              <label class="">Q2 What is your key area of interest ?</label>
              <textarea class="inputTextW small  validate[required]"  name = "body2" placeholder=""></textarea>
            </div>

            <div class="col-sm-12">
              <input value="Submit" class="darkBlueBtn inputSubmit" type="submit">
            </div>
            <% end %>      
    </div>
  </div>
</div>
<script>
  $(".hide-show").hide();
  $("#skill").click(function(event) {
  $("#skill_form").show();
  });
  $("#skill_new").click(function(event) {
   $('#skill_form').show();
  
  // event.preventDefault();
  // $(".add-show").hide();
  // $(".hide-show").show();
  
  });
</script>

