<div class="mainCOntnt">
<%=render "layouts/left_panel"%>
<div class="rightContent">
  <%=render "layouts/topNav"%>
  <div class="clearfix innerWIdth550 tac ">
    <div class="clearfix whiteBox mt30 borderBtmBlue">
      <div class="clearfix formOuterPost tal">
        <div class="ProfileTHumb">
          <div class="noConn">
            <div class="blueColor font16 bold"><%= @user.my_friends.count %></div>
            connections
          </div>
          <a href="#" class="thumbImg"> <%=image_tag @user.try(:profile).try(:image).try(:url)%></a>
          <div class="font22"><%= @profile.try(:first_name) %></div>
          <div class="designation"> <%=@user.try(:employment_details).try(:last).try(:designation)%>
          </div>
        </div>
        <div class="tableOuterBtm ">
          <table>
            <tr>
              <td>Current</td>
              <td class="blackColor"> <%=@user.try(:employment_details).try(:last).try(:organization)%></td>
            </tr>
            <tr>
              <td>Education</td>
              <td class="blackColor"> <%=@user.try(:education_histories).try(:last).try(:institute).try(:name)%></td>
            </tr>
          </table>
          <%if !current_user.friendships.collect(&:friend).include? @user %>
                  <span class="friendship-button-<%=  @user.id  %>">
                  <%= link_to "Connect", friendships_path(:friend_id => @user.id), :class=>"mt10 fr grayColor tar ", :remote=>true ,:method => :post %>
                  </span>
                <%end%>
        </div>
      </div>
    </div>
    <%#= render 'education_history' %>
    <div id ='education_history'>
      <%=render 'my_education_history'%>
    </div>
    <%#= render 'employment_detail' %>
    <div id ='employment_detail'>
      <%#=render 'my_employment_detail'%>
    </div>
    <div id='skills'>
      <%=render 'skill'%>
    </div>
    <div class="clearfix whiteBox mb10">
      <div class="clearfix formOuterPost tal">
        <div class="col-sm-12 mb10">
          <div class="grayHD">Category  
            <% if current_user==@user%>
            <a href="#" class="blueBtn fr addBtn">&nbsp;&nbsp;Add Category</a>
            <%end%>
          </div>
        </div>
        <% @user_categories.each do |category|%>
        <div class="col-sm-6 pr10 categoriesChk">
          <ul>
            <li><%=Category.where(:id =>category.to_i ).first.try(:name) %></li>
          </ul>
        </div>        
        <%end%>
      </div>
    </div>
  </div>
</div>
<script>
  $(".hide-show").hide();
  $("#skill").click(function(event) {
  $("#skill_form").show();
  });
  $("#skill_new").click(function(event) {
   $('#skill_form').show();
  
  // event.preventDefault();
  // $(".add-show").hide();
  // $(".hide-show").show();
  
  });
</script>

