<p id="notice"><%= notice %></p>

<p>
  <strong>Education history:</strong>
  <%= @institute.education_history_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @institute.name %>
</p>

<p>
  <strong>Passing year:</strong>
  <%= @institute.passing_year %>
</p>

<%= link_to 'Edit', edit_institute_path(@institute) %> |
<%= link_to 'Back', institutes_path %>
