<div class="commentSec">          
  <span class="grayColor font12"><span id="post_like_count_<%= object.id %>"  class ="post_like_count_<%= object.id %>"><%= object.likes.count %></span> Likes &nbsp; &nbsp; <span id="dislike_count_<%= object.id %>" class="dislike_count_<%= object.id %>"><%= object.dislikes.count %></span> Disikes &nbsp; &nbsp;
  <span id="comments_count_<%= object.id %>"  class="cursor" onclick="show_my_comments(<%=user_signed_in?%>,<%=object.id%>)"><%= object.comments.try(:count) %>&nbsp;<%= object.comments.try(:count) <= 1 ? 'Comment' : 'Comments' %></span> &nbsp; &nbsp; 0 shares</span>
  <div class="cmntSec">  
    <%if user_signed_in?%>
      <%= render 'layouts/shared/like', model_obj: object %>
      <%= render 'layouts/shared/dislike', model_obj: object %>
        <a href="javascript:void(0)" data-toggle="dropdown" class="shareLInk"><img src="/assets/images/share.png" alt=""></a>
        <a href="javascript:void(0)" data-toggle="dropdown" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
        <ul class=" dropdown-menu">
          <li><a href="#-" id="facebook-share_<%=object.id %>">Facebook</a> </li>

          <li><a href="http://www.linkedin.com/shareArticle?mini=true&title= '<%= object.topic %>'&url=<%= request.url %>&summary='<%= object.try(:description) %>'&image= <%= object.try(:image) %>&via=fitnessaccount" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank">linkedin</a> </li>

          <li><a href="https://twitter.com/intent/tweet?url=<%= request.url %>&text=<%= object.topic %>&via=tgs-networ"onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank">Twitter</a> </li>

          <li><a href="https://plus.google.com/share?title= <%= object.topic  %>&url=<%= request.url %>&description=<%= object.try(:description) %>& image= <%= object.try(:image) %>"onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"  target="_blank" >Google +</a> </li>

          <li><a href="http://pinterest.com/pin/create/button/?url=<%= url_for(:only_path => false) %>&title=<%= object.topic %>&media=<%= object.try(:image) %>&description= <%= object.try(:description) %>"onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank">Pinterest</a></li>
        </ul>
      <input type="button" value="Add Your Comment" class="addCmnt inputTextW small add-comment-button-<%= object.id %>" onclick="$('#comments_<%= object.id%>').toggle(400); $('#comment_box_<%=object.id%>').show(); $('#comment_body_<%= object.id %>').val('');" id="comment_button_<%= object.id %>">
    <%end%>  
  </div>
</div>
<script type="text/javascript">
  $(document).on('click','#facebook-share_<%=object.id %>',function(e){
    e.preventDefault();
    FB.ui(
    {
        method: 'feed',
        link: '<%= post_path(object) %>',
        name: '<%= object.topic %>',
       // picture: '<%#= object.image %>',
        description: 'this is test post'
    }, function(response){});
  });
</script>

<div class="commentShow" id="comments_<%= object.id %>" style="display:none;">
  <%#if !object.comments.try(:count).zero? && user_signed_in?%>
    <div  class="clearfix commentSec cmntRow" style="display: <%= (object.comments.try(:count).zero? && user_signed_in?) ? 'none' : 'block' %>; ">
      <!-- <div class="bold mb10"><a href="javascript:void()" onclick="show_comments(<%= object.id %>)" class="grayColor font13 showCmnt">Show Previous Comments</a></div> -->
      <div class="clearfix userInfo posRel">
      <div id="prev_comments_<%=object.id%>">
        <%=render partial: 'layouts/shared/prev_comments', locals: { comments: object.comments, page: 1, object: object }%>
      </div>
        
        <div id="last_post_comment_<%=object.id%>" class="scrollbars-comments">
          <%= render partial: "comments/comments_view", locals: { comments: object.comments.order("updated_at desc").paginate(:page => params[:page], :per_page => 15), from: "post_index" } %>
        </div>
      </div>
    </div>
  <%#end%> 
  <%if user_signed_in?%>
    <div  class="clearfix commentSec cmntRow borderNOne" id="comment_box_<%= object.id %>">
      <div class="clearfix userInfo posRel">
        <a href="<%= profile_path(object.user) %>" class="userImg"><img src="<%= object.user.img %>" alt=""></a>
        <div class="addcomtntTA">
          <%= form_for([object, @comment], remote: true, html: {id: "comment_form_#{object.id}"}) do |f| %>
            <div class="field">
              <%= f.text_area :body, placeholder: "Add Your Comment", id: "comment_body_#{object.id}", "data-validation-engine"=>"validate[required]", class: "addCmnt inputTextW small" %>
              <%= hidden_field_tag :from, "post_index" %>
              <%#= hidden_field_tag :post_id, object.id %>
              <%= f.submit "Save", class: "blueBtn save_comment", "data-id" => object.id, id: "save_comment#{object.id}" %>
              <a href="javascript:;" class="grayBtn" id="comment_cancel" onclick="$('#comment_body_<%= object.id %>').val('');">Cancel</a> 
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  <%end%>  
</div>