<div class="commentSec">          
  <span class="grayColor font12"><span id="post_like_count_<%= object.id %>"  class ="post_like_count_<%= object.id %>"><%= object.likes.count %></span> Likes &nbsp; &nbsp; <span id="dislike_count_<%= object.id %>" class="dislike_count_<%= object.id %>"><%= object.dislikes.count %></span> Disikes &nbsp; &nbsp;
  <span id="comments_count_<%= object.id %>"  class="cursor" onclick="show_my_comments(<%=user_signed_in?%>,<%=object.id%>)"><%= object.comments.try(:count) %>&nbsp;<%= object.comments.try(:count) <= 1 ? 'Comment' : 'Comments' %></span> &nbsp; &nbsp; 0 shares</span>
  <div class="cmntSec">  
    <%if user_signed_in?%>
      <%= render 'layouts/shared/like', model_obj: object %>
      <%= render 'layouts/shared/dislike', model_obj: object %>
      <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a>
      <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
      <input type="button" value="Add Your Comment" class="addCmnt inputTextW small add-comment-button-<%= object.id %>" onclick="$('#comments_<%= object.id%>').toggle();" id="comment_button_<%= object.id %>">
    <%end%>  
  </div>
</div>

<div class="commentShow" id="comments_<%= object.id %>" style="display:none;">
  <%if !object.comments.try(:count).zero? && user_signed_in?%>
    <div  class="clearfix commentSec cmntRow">
      <!-- <div class="bold mb10"><a href="javascript:void()" onclick="show_comments(<%= object.id %>)" class="grayColor font13 showCmnt">Show Previous Comments</a></div> -->
      <div class="clearfix userInfo posRel">
        <div id="last_post_comment_<%=object.id%>">
          <%= render partial: "comments/comments_view", locals: { comments: object.comments, from: "post_index" } %>
        </div>  
      </div>
    </div>
  <%end%> 
  <%if user_signed_in?%>
    <div  class="clearfix commentSec cmntRow borderNOne" id="comment_box_<%= object.id %>">
      <div class="clearfix userInfo posRel">
        <a href="<%= profile_path(object.user) %>" class="userImg"><img src="<%= object.user.img %>" alt=""></a>
        <div class="addcomtntTA">
          <%= form_for([object, @comment], remote: true, html: {id: "comment_form_#{object.id}"}) do |f| %>
            <div class="field">
              <%= f.text_area :body, placeholder: "Add Your Comment", id: "comment_body_#{object.id}", "data-validation-engine"=>"validate[required]", class: "addCmnt inputTextW small" %>
              <%= hidden_field_tag :from, "post_index" %>
              <%#= hidden_field_tag :post_id, object.id %>
              <%= f.submit "Save", class: "blueBtn save_comment", "data-id" => object.id, id: "save_comment#{object.id}" %>
              <a href="javascript:;" class="grayBtn" id="comment_cancel" onclick="$('#comment_box_<%= object.id %>').hide();">Cancel</a> 
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  <%end%>  
</div>