<%=f.fields_for :upload do |u|%>
  <div class="tabOuter">
    <div id="tab-1" class="tab-content current">
      <%=link_to 'X','#',class: 'remove_image',:style=>'display:none;'%>
      <div class="uploadBoxOuter font14">        
        <a href="#"  onclick="$('.post_image').click();">
          <% if obj.try(:upload).try(:image).present? %>
            <%= image_tag obj.upload.image_url, id: 'imgprvw' %>
          <% else %>
            <img src="/assets/images/cemera.png" alt="" id='imgprvw'>                        
          <% end %>
        </a>
        <div class="error img_error"></div>
        <%= hidden_field_tag "image_url", false%>
        <%= hidden_field_tag "file_url", false%>
        <%= u.file_field :image, :value=>u.object.image.url, class: "post post_image profile_picture", style: "visibility: hidden; width: 1px; height: 1px" ,:onchange => "showimagepreview(this)" %>
        <div class="grayBig mt20 bold"> 
          Add an image to bring your post to life
        </div>
        Images that are at least 700 x 400 pixels look best.
      </div>
    </div>
    <div id="tab-2" class="tab-content">
      <div class="uploadBoxOuter font14">
        <img src="/assets/images/website.png" alt="">
        <div class="grayBig bold ">
          Add Your Website Links
        </div>
        <%=u.text_field :site_link, class: 'inputTextW', placeholder: "http://", "data-validation-engine"=>"validate[],custom[url]"%>
      </div>
    </div>
    <div id="tab-3" class="tab-content">
      <div class="uploadBoxOuter font14">
        <%= u.file_field :file, class: "post post_file", style: "visibility: hidden; width: 1px; height: 1px" ,:onchange => "showfilepreview(this)" %>
        <a href="#"  onclick="$('.post_file').click();">
        <img src="/assets/images/link.png" alt="" id='fleprvw'>  <%=link_to 'X','#',class: 'remove_file',:style=>'display:none;'%>
        </a>
        <div class='file_name'><%=u.object.file.url%></div>
        <div class="grayBig mt0 bold">
          Upload your Document
        </div>
        Your file needs to be a xls, xlsx, pdf, csv, txt, doc, xml, html<br>
        and no larger than 5MB.
      </div>
    </div>
    <div id="tab-4" class="tab-content">
      <div class="uploadBoxOuter font14"> 
      <img src="/assets/images/videoIcon.png" alt="">
      
      <div class="grayBig bold ">Add Your Video</div>
      <%= u.text_field :video, placeholder: "http://", class: "inputTextW", "data-validation-engine"=>"validate[],custom[url]" %><br>

      <div class="mt10">Paste a youtube embedded link from YouTube<br/> i.e http://www.youtube.com/embed/3e940DgnBUg?autoplay=0.</div>

      </div>
    </div>
    <ul class="tabs uploadIcon">
      <li class="tab-link current" data-tab="tab-1">
        <img src="/assets/images/c1.png" alt="">
      </li>
      <li class="tab-link" data-tab="tab-2">
        <img src="/assets/images/c2.png" alt="">
      </li>
      <li class="tab-link" data-tab="tab-3">
        <img src="/assets/images/c3.png" alt="">
      </li>
      <li class="tab-link" data-tab="tab-4">
        <img src="/assets/images/c4.png" alt="">
      </li>
    </ul>
  </div>
<%end%>
<style type="text/css">
  .error {
    float: none;
    font-size: 15px;
}
</style>
