<%= nested_form_for(current_user,url: "#-") do |f| %>
  
  <h1>Education History</h1>
  <p><%= f.link_to_add "Add a Course", :education_histories %></p>
  <%= f.fields_for :education_histories do |education| %>
    <%= education.label :course %><br/>
    <%= education.select(:course_id, Course.all.collect {|c| [c.name, c.id]}, :prompt => 'Select')  %>
    <%= education.label :Specialization %><br/>
    <%= education.select(:specialization_id, Specialization.all.collect {|s| [s.name, s.id]}, :prompt => 'Select')  %>
    <%= education.label "Institute/University" %><br/>
    <%= education.select(:institute_id, Institute.all.collect {|i| [i.name, i.id]}, :prompt => 'Select')  %>
    <%= education.label "Start Year" %><br/>
    <%= education.text_field :start_year, value: Date.today %>
    <%= education.label "End Year" %><br/>
    <%= education.text_field :end_year, value: Date.today %>
    
    <%= education.link_to_remove "Remove this course" %>
  <% end %>  
  <p><%= link_to "Save", "#-" %></p>
  <p><%= link_to "Cancel", "#-" %></p>

  <h1>Employment Details</h1>
  <p><%= f.link_to_add "Add Employment", :employment_details %></p>
  <%= f.fields_for :employment_details do |emp| %>
    <%= emp.label "Enter Designation" %><br/>
    <%= emp.text_field :designation %>
    <%= emp.label :organization %><br/>
    <%= emp.text_field :designation %>
    <%= emp.label "Start Working From" %><br/>
    <%= emp.text_field :start_work_date, value: Date.today %>    
    <%= emp.label "Worked Till" %><br/>
    <%= emp.text_field :worked_till, value: Date.today %>
    <%= check_box_tag "current company"%><strong>Current Company</strong>
    <%= emp.label :description %><br/>
    <%= emp.text_area :description %>    
    <%= emp.link_to_remove "Remove Employment" %>
  <% end %>  
  <p><%= link_to "Save", "#-" %></p>
  <p><%= link_to "Cancel", "#-" %></p>

  <h1>Skills</h1>  
  <%= f.label "Enter Skills" %><br/>
  <%= f.text_field :name %>
  <p><%= link_to "Add a skill", "#-" %></p>
  <p><%= link_to "Save", "#-" %></p>
  <p><%= link_to "Cancel", "#-" %></p>

  <h1>Add Category</h1>
  <%current_user.categories.each do |category| %>    
    <%= check_box_tag "name[]", {}, false %> <%=category.name%>
  <% end %>
  <p><%= link_to "Save", "#-" %></p>
  <p><%= link_to "Cancel", "#-" %></p>

<% end %>
