<% comments.each do |comment| %>
	<div  class="clearfix commentSec cmntRow">
    <div class="clearfix userInfo posRel">
      <a href="#" class="userImg"><img src="<%= comment.user.img %>" alt=""></a>
      <a href="#" class="userNAme"> <%= comment.user.try(:profile).try(:screen_name) %></a> <br>
      <span class="font13"> <% @designation = comment.user.employment_details.collect(&:designation)%>
  			<%= @designation.present? ? @designation.join(",") : " " %></span>
      <div class="fr grayColor tar"><%= time_ago_in_words(comment.created_at.strftime("%d %b")) %></div>
      <% if params[:controller]=="users" && params[:action]=="dashboard"
      	bold = 'bold' else bold = '' end %>
      <div class="clearfix mt15 font13 blackColor <%= bold %>"><%= comment.body.html_safe %></div>
      <div class="font13 bold blueColor"><a href="#" class="blueColor" >Like </a>| <a href="javascript:;" class="blueColor reply reply_link" id="reply_link_id_<%= comment.id %>" > Reply</a></div>
    	<div class="clearfix replyRow reply_box_class" id= "reply_box_id_<%= comment.id %>">
    		<%= form_for(comment.replies.new, remote: true, :url => comment_replies_path(comment.id)) do |f| %>
	    		<a href="#" class="userImg"><img src="<%= current_user.img %>" alt=""></a>
			    <div class="field">
			      <%= f.text_field :body, placeholder: "Add Your Comment", class: "addReply inputTextW small" %>
			    </div>
				<% end %>
			</div>
    </div>
  </div>
  <div id="replies_view_<%= comment.id%>">
		<%= render partial: "replies/replies_view", locals: { replies: comment.replies } %>
	</div>
<% end %>
<% if !(params[:controller]=="users" && params[:action]=="dashboard") %>
<script>
	$(".replyRow").hide();
	$(".reply").click(function(){
		$(this).closest("div").next(".replyRow").slideToggle(500);			
	});
</script>
<% end %>