<!-- Form for new and edit meeting room -->
<%= content_for(:title, @meeting_room.new_record? ? 'New Meeting Room' : @meeting_room.try(:topic).try(:capitalize)) %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render "layouts/topNav"%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/meeting.png" alt=""></span>
        Meeting Room
        <%= link_to "Back", :back, class: "back" %>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <%= form_for(@meeting_room, html: {class: "profile_form", :id => "form-id"}) do |f| %>
      <% if @meeting_room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@meeting_room.errors.count, "error") %> prohibited this meeting room from being saved:</h2>
        <ul>
          <% @meeting_room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="#" class="profileImg"><img src="/assets/images/profile.png" alt=""></a>
          <div class="nameLocation">
            <a href="#"><%= current_user.try(:profile).try(:screen_name) %></a><br>
            <span class="location"><%= current_user.try(:profile).try(:location) %></span>
          </div>
        </div>
        <!-- rendering upload for uploading image, file and vedio url -->
        <%=render 'layouts/shared/upload', f: f, obj: @meeting_room %>
        <!-- rendering upload for uploading image, file and vedio url -->
      </div>
      <div class="clearfix whiteBox">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Categories<span class="redColor">*</span></label>
            <div class="selctFormBox">
              <%= f.hidden_field :category_id, :value=>select_type(f, "category_id", "Category"), class: " selectInputField" %>
              <%= f.text_field "category_id", :value=>select_type(f, "category_id", "Category"), class: "selectInput" ,:id=>'category', name: "category_name_second"%>
              <%= f.select("category_id", Category.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, "data-validation-engine"=>"validate[required]", class: "select", "data-errormessage-value-missing"=>"Please select category")  %>
            </div>
            <div id="category_name_error"></div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Topic<span class="redColor">*</span></label>
            <%= f.text_field :topic, "data-validation-engine"=>"validate[required,maxSize[80]]", class: "inputTextW small", placeholder: "Topic", "data-errormessage-value-missing"=>"Topic should not be blank" %>
          </div>
          <div class="col-sm-12">
            <label>Headline<span class="redColor">*</span></label>
            <%= f.text_field :headline, "data-validation-engine"=>"validate[required,maxSize[360]]", class: "inputTextW small", placeholder: "Write headline here....", "data-errormessage-value-missing"=>"Headline should not be blank" %>
          </div>
          <div class="col-sm-12">
            <label class=""> Assign Name<span class="redColor">*</span> </label>
            <%= f.text_field :name, "data-validation-engine"=>"validate[required,maxSize[80]]", class: "inputTextW small", placeholder: "Assign Name", "data-errormessage-value-missing"=>"Assign name should not be blank" %>
          </div>
          <div class="col-sm-12 ">
            <label class="">Slogan of Meeting<span class="redColor">*</span> </label>
            <%= f.text_field :slogan, "data-validation-engine"=>"validate[required,maxSize[80]]", class: "inputTextW small", placeholder: "Please write slogan of meeting here....", "data-errormessage-value-missing"=>"Slogan of Meeting should not be blank" %>
          </div>
          <div class="col-sm-12 ">
            <label class="">Invite Members </label>
             <%= f.select(:members, @users.collect {|s| [s.screen_name, s.id]}, {}, class: "select", id: "dropdown", :multiple => true)  %>
            <!-- <input type="text" placeholder="" class="inputTextW small"> -->
          </div>
          <div class="col-sm-12 mt10">
            <%= f.submit "Save Meeting Room", class: "blueBtn common_submit" %>
            <a href="/dashboard" class="grayBtn">Cancel</a> 
          </div>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
<!-- Form for new and edit meeting room -->
<%if @meeting_room.id.present? %>
  <script type="text/javascript">
    $( "#dropdown" ).select2().select2('val',<%=  @meeting_room.members.collect(&:user_id) %>)
  </script>
<% else %>
  <script type="text/javascript">
    $( "#dropdown" ).select2({placeholder: "Select members" });
  </script>
<% end %>