<!-- showing all meeting rooms -->
<% meeting_rooms.each do |room|%>
  <div class="whiteBox borderTop  col-sm-6 pb0  fl">
    <%if current_user && room.user == current_user%>
      <div class="editDlt  dropdown">
        <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
        <ul class="dropdown-menu">
          <li><%=link_to "Edit", edit_meeting_room_path(room)%></li>
          <li><%=link_to "Delete", meeting_room_path(room), method: :delete, data: { confirm: 'Are you sure?' }%></li>
        </ul>
      </div>
    <%end%>
    <a href="<%=meeting_room_path(room)%>" class="pollImgOuter mt20 grpImg"> <%=image_tag room.try(:img)%></a>
    <%#=link_to image_tag(room.try(:img)), meeting_room_path(room), class: "pollImgOuter mt20 grpImg"%>
    <a href="<%=meeting_room_path(room)%>" class="block groupName width"><%=room.topic%></a>
    <div class="virwJoinBtn">
      <a class="btmBtn fullWdth" href="<%=meeting_room_path(room)%>"> <%= room.members.try(:count)%>  Members</a>
    </div>
  </div>
<%end%>
<!-- showing all meeting rooms -->