<p id="notice"><%= notice %></p>

<h1>Listing Meeting Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Topic</th>
      <th>Headline</th>
      <th>Name</th>
      <th>Slogan</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting_rooms.each do |meeting_room| %>
      <tr>
        <td><%= meeting_room.category_id %></td>
        <td><%= meeting_room.topic %></td>
        <td><%= meeting_room.headline %></td>
        <td><%= meeting_room.name %></td>
        <td><%= meeting_room.slogan %></td>
        <td><%= meeting_room.user_id %></td>
        <td><%= link_to 'Show', meeting_room %></td>
        <td><%= link_to 'Edit', edit_meeting_room_path(meeting_room) %></td>
        <td><%= link_to 'Destroy', meeting_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting room', new_meeting_room_path %>
