<%= content_for(:title, 'Meeting Rooms') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/meeting.png" alt=""></span>
        Meeting Room
        <div class="fr mt-10 ">
          <div class="fr font12">
            <a href="/meeting_rooms/new" class="back"><img src="/assets/images/accept.png" alt=""> Create Meeting Room</a><br>
            <div class="fr font14 underLine mt5"> <%=@meeting_rooms.size%> <%= @meeting_rooms.size <=1 ? "Meeting Room" : "Meeting Rooms"%> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac mb20  mt20">
      <div class=" ">
        <div class="formOuter searchFrnd width100per">
          <!-- start change code- kandarp -->
          <%= form_tag meeting_rooms_path, :method => 'get' do %>
              <%= text_field_tag :data, params[:data], placeholder: "Search Meeting Rooms", class: "searhInput1 meeting_rooms" %>
              <%= submit_tag "", class: "searhSub" %>
          <% end %>
          <!-- <form method="post" action="">
            <input placeholder="Search Meeting Rooms" class="searhInput1 groups" type="text">
            <input value="" class="searhSub" type="">
          </form> -->
          <!-- end change code- kandarp -->
        </div>
      </div>
      <div class="clearfix grpOuter" id="meeting_rooms">
        <%= render partial: "meeting_rooms", locals: {meeting_rooms: @meeting_rooms} %>
      </div>
    </div>
  </div>
</div>
<script>
$(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>
