<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/meeting.png" alt=""></span>
        Meeting Room
        <div class="fr mt-10 ">
          <div class="fr font12">
            <a href="/meeting_rooms/new" class="back"><img src="/assets/images/accept.png" alt=""> create meeting room</a><br>
            <div class="fr font14 underLine mt5"> <%=@meeting_rooms.size%> <%= @meeting_rooms.size <=1 ? "Meeting Room" : "Meeting Rooms"%> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac mb20  mt20">
      <div class=" ">
        <div class="formOuter searchFrnd width100per">
          <!-- start change code- kandarp -->
          <%= form_tag meeting_rooms_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Meeting Rooms", class: "searhInput1" %>
              <%= submit_tag "", class: "searhSub" %>
          <% end %>
          <!-- <form method="post" action="">
            <input placeholder="Search Meeting Rooms" class="searhInput1 groups" type="text">
            <input value="" class="searhSub" type="">
          </form> -->
          <!-- end change code- kandarp -->
        </div>
      </div>
      <div class="clearfix grpOuter">
        <% @meeting_rooms.each do |room|%>
          <div class="whiteBox borderTop  col-sm-6 pb0  fl">
            <%if current_user && room.user == current_user%>
              <div class="editDlt  dropdown">
                <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
                <ul class="dropdown-menu">
                  <li><%=link_to "Edit", edit_meeting_room_path(room)%></li>
                  <li><%=link_to "Delete", meeting_room_path(room), method: :delete, data: { confirm: 'Are you sure?' }%></li>
                </ul>
              </div>
            <%end%>
            <%=link_to image_tag(room.img), meeting_room_path(room), class: "block mt20 grpImg"%>
            <a href="<%=meeting_room_path(room)%>" class="block groupName width"><%=room.topic%></a>
            <div class="virwJoinBtn">
              <a class="btmBtn fullWdth" href="<%=meeting_room_path(room)%>"> <%= room.members.try(:count)%>  Members</a>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<script>
$(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>
