<!-- showing meeting room -->
<%= content_for(:title, @meeting_room.try(:topic).try(:capitalize)) %>
<div class="mainCOntnt">
    <%=render "layouts/left_panel"%>
    <div class="rightContent">
      <%=render 'layouts/topNav'%>
      <div class="clearfix blueBkg meetingRoomTOp">
        <div class="innerWIdth550">
          <span><%=image_tag @meeting_room.try(:img)%></span>
          <div class="mtngTitle"><%= @meeting_room.topic %>
          </div>
          <div class="fr font12">
            <a href="<%= leave_meeting_room_path(@meeting_room)%>" class="back hoverOut" data-method ="post"><img src="/assets/images/accept.png" alt="" ><b> member</b></a><br>
            <% if current_user != @meeting_room.user %>
            <span id="following-button-span-<%= @meeting_room.id %>" class="user-folowed-<%=@meeting_room.id %>">
              <%= render :partial=> "users/follow_link", :locals => {:object => @meeting_room} if user_signed_in?%>
            </span>
          <% end %>
            <div class="fr font12"> <%= @meeting_room.members.try(:count) %> <%= @meeting_room.members.try(:count) > 1 ? "Members" : "Member" %></div>
          </div>
        </div>
      </div>
      <div class="clearfix innerWIdth550 tac  mt20">
        <div class="clearfix whiteBox borderTop mt0 mb10 pb0">
          <div class="clearfix formOuterPost tal padding10-0">
            <div class="col-sm-12 mb10">
              <div class="blackHD font22"><%= @meeting_room.headline %>
              </div>
              <%=image_tag @meeting_room.try(:img), class: "fullWdth mtb10"%>              
              <div class="uniOuter">
                <div class=" blackColor ">
                  <p><%= @meeting_room.slogan %></p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
              <!-- rendering comments -->
              <%= render 'layouts/shared/comments' , object: @meeting_room %>
              <!-- rendering comments -->
            <div class="commentShow">
              <div  class="clearfix commentSec cmntRow borderNOne" id="comment_box">
                <div class="clearfix userInfo posRel">
                  <a href="javascript:;" class="userImg"><img src="<%= current_user.try(:img) %>" alt=""></a>
                  <div class="addcomtntTA">
                    <!-- Start Comment form -->
                    <%= form_for(@comment, remote: true) do |f| %>
                      <div class="field">
                        <%= f.text_area :body, placeholder: "Add Your Comment", id: "comment_body", class: "addCmnt inputTextW small" %>
                        <%= hidden_field_tag :meeting_room_id, @meeting_room.id %>
                        <%= f.submit "Save", class: "blueBtn", id: "save_comment" %>
                        <a href="javascript:;" class="grayBtn" id="comment_cancel">Cancel</a> 
                      </div>
                    <% end %>
                    <!-- End comment form -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- showing meeting room -->
<!-- script for comment functionality -->
<script type="text/javascript">
 $(function () {
   $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
 });
 $("#comment_cancel").click(function(event) {
    $("#comment_body").val("");
  });
  $("#comments").hide();
  $("#comment_box").hide();
  $("#comment_button").click(function(event) {
    event.preventDefault();
    $("#comments").toggle();
    $("#comment_box").toggle();
    $("html, body").scrollTop($('#comment_box').offset().top);
  });
  function reply_toggle(comment_id){
    // For Toggle
  }
  $("#save_comment").click(function(event) {
    event.preventDefault();
    if ($("#comment_body").val() == ""){
      event.preventDefault();
    }
    else {
      $.ajax({
        type: "post",
        dataType: "script",
        url: "/comments",
        data: {"comment[body]": $("#comment_body").val(), meeting_room_id: $("#meeting_room_id").val() }
      });
    }
  });
</script>
<!-- script for comment functionality -->

<!-- 

<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @meeting_room.category_id %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @meeting_room.topic %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @meeting_room.headline %>
</p>

<p>
  <strong>Name:</strong>
  <%= @meeting_room.name %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @meeting_room.slogan %>
</p>

<p>
  <strong>User:</strong>
  <%= @meeting_room.user_id %>
</p>

<%= link_to 'Edit', edit_meeting_room_path(@meeting_room) %> |
<%= link_to 'Back', meeting_rooms_path %>
 -->