<div class="mainCOntnt">
    <%=render "layouts/left_panel"%>
    <div class="rightContent">
      <div class="clearfix blueBkg meetingRoomTOp">
        <div class="innerWIdth550">
          <span><%=image_tag @meeting_room.img%></span>
          <div class="mtngTitle"><%= @meeting_room.topic %>
          </div>
          <div class="fr font12">
            <a href="<%= leave_meeting_room_path(@meeting_room)%>" class="back" data-method ="post"><img src="/assets/images/accept.png" alt=""> member</a><br>
            <div class="fr font12"> <%= @meeting_room.members.try(:count) %> members</div>
          </div>
        </div>
      </div>
      <div class="clearfix innerWIdth550 tac  mt20">
        <div class="clearfix whiteBox borderTop mt0 mb10 pb0">
          <div class="clearfix formOuterPost tal padding10-0">
            <div class="col-sm-12 mb10">
              <div class="blackHD font22"><%= @meeting_room.headline %>
              </div>
              <%=image_tag @meeting_room.img, class: "fullWdth mtb10"%>              
              <div class="uniOuter">
                <div class=" blackColor ">
                  <p><%= @meeting_room.slogan %></p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <span class="grayColor font12"><span class="post_like_count"><%= @meeting_room.likes.count%></span> Likes &nbsp; &nbsp; <span class="post_dislike_count"><%= @meeting_room.dislikes.count%></span> Dislikes &nbsp; &nbsp;<span id="comments_count"><%= @comments.count %> <%= @comments.count == 1 ? 'Comment' : 'Comments' %></span> &nbsp; &nbsp; 0 shares</span>
            <div class="cmntSec">

              <%if @meeting_room.liked?(current_user).present?%>
                <%=link_to image_tag("images/up.png"), meeting_room_likes_path(@meeting_room), method: :post, remote: true,:class=>'like_image_post_liked'%>
              <%else%>
                <%=link_to image_tag("images/up.png"), meeting_room_likes_path(@meeting_room), method: :post, remote: true,:class=>'like_image_post'%>
              <%end%>
              <!-- <a href="#"><img src="/assets/images/down1.png" alt=""></a> -->
              <%if @meeting_room.disliked?(current_user).present?%>
                <%=link_to image_tag("images/down1.png"), meeting_room_dislikes_path(@meeting_room), method: :post, remote: true,:class=>'dislike_image_post_disliked'%>
              <%else%>
                <%=link_to image_tag("images/down1.png"), meeting_room_dislikes_path(@meeting_room), method: :post, remote: true,:class=>'dislike_image_post'%>
              <%end%>
              <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a>
              <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
              <input type="button" value="Add Your Comment" class="addCmnt inputTextW small" id="comment_button">
            </div>
            <div class="clearfix"></div>
            <div id="comments">
              <%= render partial: "comments/comments_view", locals: { comments: @meeting_room.comments } %>
            </div>
            <div class="commentShow">
              <div  class="clearfix commentSec cmntRow borderNOne" id="comment_box">
                <div class="clearfix userInfo posRel">
                  <a href="javascript:;" class="userImg"><img src="<%= current_user.img %>" alt=""></a>
                  <div class="addcomtntTA">
                    <!-- Start Comment form -->
                    <%= form_for(@comment, remote: true) do |f| %>
                      <div class="field">
                        <%= f.text_area :body, placeholder: "Add Your Comment", id: "comment_body", class: "addCmnt inputTextW small" %>
                        <%= hidden_field_tag :meeting_room_id, @meeting_room.id %>
                        <%= f.submit "Save", class: "blueBtn", id: "save_comment" %>
                        <a href="javascript:;" class="grayBtn" id="comment_cancel">Cancel</a> 
                      </div>
                    <% end %>
                    <!-- End comment form -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
 $(function () {
   $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
 });
 $("#comment_cancel").click(function(event) {
    $("#comment_body").val("");
  });
  $("#comments").hide();
  $("#comment_box").hide();
  $("#comment_button").click(function(event) {
    event.preventDefault();
    $("#comments").toggle();
    $("#comment_box").toggle();
    $("html, body").scrollTop($('#comment_box').offset().top);
  });
  function reply_toggle(comment_id){
    // For Toggle
  }
  $("#save_comment").click(function(event) {
    event.preventDefault();
    if ($("#comment_body").val() == ""){
      event.preventDefault();
    }
    else {
      $.ajax({
        type: "post",
        dataType: "script",
        url: "/comments",
        data: {"comment[body]": $("#comment_body").val(), meeting_room_id: $("#meeting_room_id").val() }
      });
    }
  });
</script>


<!-- 

<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @meeting_room.category_id %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @meeting_room.topic %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @meeting_room.headline %>
</p>

<p>
  <strong>Name:</strong>
  <%= @meeting_room.name %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @meeting_room.slogan %>
</p>

<p>
  <strong>User:</strong>
  <%= @meeting_room.user_id %>
</p>

<%= link_to 'Edit', edit_meeting_room_path(@meeting_room) %> |
<%= link_to 'Back', meeting_rooms_path %>
 -->