<%= content_for(:title, 'Login') %>
<div class="bodyCont">
<!--  Header Start -->
  <div class="headerBkg"></div>
  <!-- Header End -->
  <div class="loginOuter">
    <div class="loginInner">
      <a href="/" class="logoShadow  wow fadeIn" data-wow-delay="" data-wow-duration="1.5s"> <img src="/assets/images/logoShadow.png"></a>
      <div class="login" style="<%='display:none' if isInvalid%>">
        <div class="socialLogin">
          <a href="/auth/facebook" class="fb"> <img src="/assets/images/fb.png" alt=""> Sign in with Facebook </a>
          <a href="/auth/google_oauth2" class="gp"> <img src="/assets/images/gp.png" alt=""> Sign in with Google </a>
          <a href="/auth/twitter" class="tw"> <img src="/assets/images/tw.png" alt=""> Sign in with Twitter </a>
        </div>
        <div class="tac or">
          <div class="octagon">OR</div>
        </div>
        <div class="loginForm">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { class: "profile_form", id: "form-id"}) do |f| %>
          <!-- <div id="error_explanation" class="login <%#='errorMSg' if flash.try(:alert)%>">
            <%#= flash.try(:alert) %>
          </div> -->
          <%#= devise_error_messages! %>          
          <%= f.text_field :login, placeholder: "Enter Your Email or Screen_name", :maxlength=>"80", "data-validation-engine"=>"validate[required]", class: "inputText" %>
          <%= f.password_field :password, autocomplete: "off",placeholder: "Password", :maxlength=>"40",  "data-validation-engine"=>"validate[required]", class: "inputText" %>
          <%= f.submit "Log In", class: "darkBlueBtn inputSubmit" %>
          <!--  <label class="fl remPAss font12"><input type="checkbox"> Remenber Password </label>
            <a href="#" class="fr font12 frgtPAssLink"> Forgot Password</a> -->
          <label class="fl remPAss font12">
          <%= f.check_box :remember_me%>  Remember Password
          </label>
          <%= link_to "Forgot Password?", "#", class: "fr font12 frgtPAssLink" %> 
          <div class="clearfix"></div>
          <%end%>
        </div>
      </div>
      <div class="loginForm frgtPass" style="<%='display:block' if isInvalid%>">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id:"reqPassword" }) do |f| %>
        <div id="error_explanation" class="<%='errorMSg' if devise_error_messages!.include?("error_explanation")  %>">
        <%= devise_error_messages! %>
        </div>
        <%= f.email_field :login, placeholder: "Enter Your Email", :maxlength=>"80", class: "inputText", "data-validation-engine"=>"validate[required],custom[email]" %>
        <div class="error"></div>
        <%= f.submit "Submit", class: "darkBlueBtn inputSubmit" %>
        <%#if !isInvalid%>
          <a href="javascript:void(0)" class="fr font12 backLogin"> Back</a>
        <%#end%>
        <div class="clearfix"></div>
        <% end %>
      </div>
      <p class="mt30">Don't have an account? <a href="/users/sign_up">Sign Up</a></p>
    </div>
  </div>
</div>
