<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/contest.png" alt=""></span>
        Your Contest Module
        <%= link_to "Back", :back, class: "back" %>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <%= form_for(@contest, html: {class: "profile_form"}) do |f| %>
      <% if @contest.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>
        <ul>
          <% @contest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="#" class="profileImg"><img src="/assets/images/profile.jpg" alt=""></a>
          <div class="nameLocation">
            <a href="#"><%= current_user.try(:profile).try(:screen_name) %></a><br>
            <span class="location"><%= current_user.try(:profile).try(:country) %></span>
          </div>
        </div>
        <%=render 'layouts/shared/upload', f: f, obj: @contest%>
        <!-- container -->
      </div>
      <div class="clearfix whiteBox">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Select Category</label>
            <div class="selctFormBox">
              <%= f.hidden_field :category_id, :value=>'Select', class: " selectInputField" %>
              <%= f.text_field "category_id", :value=>'Select', class: "selectInput" ,:id=>'category'%>
              <%= f.select("category_id", Category.all.collect {|s| [s.name, s.id]}, {}, class: "select")  %>
            </div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Type Topic</label>
            <%= f.text_field :topic, placeholder: "Topics", class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="font20">Write Your Headline</label>
            <%= f.text_field :headline, class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="">Write Something</label>
            <%= f.text_area :description, class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="font16">Select Visibility</label><br>
            <div class="mt5">
              <label class="radioV">  <%= f.radio_button :visibility,false %> Private  </label> &nbsp; &nbsp; <label class="radioV">  <%= f.radio_button :visibility, true, :checked => true %> Public  </label>
            </div>
          </div>
          <div class="col-sm-12 mt10">
            <label class="">Invite Users / Community</label>
            <input type="text" placeholder="" class="inputTextW small">
          </div>
          <label  class="col-sm-12 mt20 block">Set expiration of post </label>
          <div class="col-sm-6  pr10  dateOuter">
            <label>From</label>   <%= f.text_field :start_date, placeholder: "DD-MM-YYYY", class: "inputTextW small date start_date" %>
          </div>
          <div class="col-sm-6  pl10 dateOuter">
            <label>To</label><%= f.text_field :end_date, placeholder: "DD-MM-YYYY", class: "inputTextW small date end_date" %>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12 mt10">
            <%= f.submit "Create Contest", class: "blueBtn" %>
            <a href="#" class="grayBtn">Cancel</a> 
          </div>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
<script>
  $('.start_date').datetimepicker({format: 'YYYY-MM-DD',minDate: moment()});
  $('.end_date').datetimepicker({format: 'YYYY-MM-DD',minDate: moment()});
  $(".start_date").on("dp.change", function (selected) {
    $(".end_date").data("DateTimePicker").minDate(selected.date);
  });
  $(".end_date").on("dp.change", function (selected) {
    $(".start_date").data("DateTimePicker").maxDate(selected.date);
  });
</script>