<%= content_for(:title, 'Contests') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/contest.png" alt=""></span>
        Your Contest Module
        <div class="fr mt-10 ">
          <div class="fr font12">
            <a href="/contests/new" class="back"><img src="/assets/images/accept.png" alt=""> Create Contest</a><br>
            <div class="fr font14 underLine mt5"> <%=@contests.size%> <%= @contests.size <=1 ? "Contest Module" : "Contest Modules"%> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac  mt20">
      <div class=" ">
        <div class="formOuter searchFrnd width100per">
          <!-- start change code- kandarp -->
          <%= form_tag contests_path, :method => 'get' do %>
              <%= text_field_tag :data, params[:data], placeholder: "Search Contest Modules", class: "searhInput1 contests" %>
              <%= submit_tag "", class: "searhSub" %>
          <% end %>
          <!-- <form method="post" action="">
            <input placeholder="Search Contest Modules" class="searhInput1" type="text">
            <input value="" class="searhSub" type="submit">
          </form> -->
        <!-- end change code- kandarp -->
        </div>
      </div>
      <div class="clearfix grpOuter" id= "contests">
          <%= render partial: "contests", locals: {contests: @contests} %>
      </div>
      <!-- <div class="clearfix whiteBox borderTop mt20 mb20  pb0">
        <div class="clearfix conversationTop borderBtm">
          <span class="bold grayColor">See anyone you know? <span class="font13 blackColor">Connect with them</span></span>
          <div class="fr"> <a href="#" class="grayColor">See More Connection <img src="/assets/images/rightArrow.jpg" alt=""></a> </div>
        </div>
        <div class="connectionOuter ">
          <div class="col-sm-6 borderRight">
            <a href="#"> <img src="/assets/images/user1.jpg" alt=""> <span>H. Peter Curran</span></a>
            <div class="dsignation">Appraiser, Art, Antiques,
              Deconstruction 
            </div>
            <a href="#" class="whiteBtn"> Connect </a> 
          </div>
          <div class="col-sm-6">
            <a href="#"> <img src="/assets/images/user2.jpg" alt=""> <span>Trip Spencer</span></a>
            <div class="dsignation">Director</div>
            <a href="#" class="whiteBtn"> Connect </a> 
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<script>
$(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>