<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>  

    <!-- <div class="topNAv visible-xs">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li class="activeMenu"><a href="#">News Feed</a></li>
          <li><a href="#">Hot Topics</a></li>
          <li><a href="#">Followers (25)</a></li>
          <li><a href="#">Following (100)</a></li>
          <li><a href="#">More <img src="/assets/images/arrowBlack.png" alt=""> </a></li>
        </ul>
      </div>
    </div> -->
    <div class="clearfix blueBkg meetingRoomTOp">
      <div class="innerWIdth550">
        <span><%= image_tag @contest.img %></span>
        <div class="mtngTitle">
          <%= @contest.topic %>
          (<%= @contest.start_date.strftime("%m/%d") %> - <%= @contest.end_date.strftime("%m/%d") %>)
        </div>
        <div class="fr font12">
          <a href="#" class="back"><img src="/assets/images/accept.png" alt=""> member</a><br>
          <div class="fr font14">  200 members</div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac  mt20">
      <div class="clearfix whiteBox borderTop mt0 mb10 pb0">
        <div class="clearfix formOuterPost tal padding10-0">
          <div class="col-sm-12 mb10">
            <div class="blackHD font20"><%= @contest.headline %> (<%= @contest.start_date.strftime("%m/%d") %> - <%= @contest.end_date.strftime("%m/%d") %>)</div>
            <div class="bold font15 mtb10">
              <span class="upVote vote" data-toggle="tooltip" title="For"></span> 0   &nbsp;
              <span class="downVote vote" data-toggle="tooltip" title="Againest"></span>  0  &nbsp;
              <span class="fr blueColor frNone"><%=expireDate(@contest.end_date) %></span>
            </div>
            <%= image_tag @contest.img, class: "fullWdth mtb10" %>
            <div class="uniOuter">
              <div class=" blackColor ">
                <%= @contest.description %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="commentShow ">
            <div class="clearfix commentSec cmntRow">
              <div class="font14 bold">Please vote for this post through the options</div>
              <div class="vodeSection mt10">  
                <span class="upVote vote" data-toggle="tooltip" title="For"></span>
                <span class="downVote vote" data-toggle="tooltip" title="Against"></span>
              </div>
              <div >
              </div>
            </div>
          </div>
          <div class="commentShow commentShowScroll">
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/jack.jpg" alt=""></a>
                <a href="#" class="userNAme"> Jack</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar">     <span class="upVote vote" ></span> 2 Oct</div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/user1.jpg" alt=""></a>
                <a href="#" class="userNAme"> Trip Spencer</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar"><span class="upVote vote"></span> 2 Oct</div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/user2.jpg" alt=""></a>
                <a href="#" class="userNAme"> H. Petter Carran</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar"><span class="downVote vote"></span> 2 Oct</div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/profileImg.jpg" alt=""></a>
                <a href="#" class="userNAme"> Sarah</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar"><span class="downVote vote"></span> 2 Oct</div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/jack.jpg" alt=""></a>
                <a href="#" class="userNAme"> Jack</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar"> <span class="downVote vote"></span> 2 Oct</div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/user1.jpg" alt=""></a>
                <a href="#" class="userNAme"> Trip Spencer</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar"><span class="upVote vote"></span> 2 Oct</div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/user2.jpg" alt=""></a>
                <a href="#" class="userNAme"> H. Petter Carran</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar"><span class="downVote vote"></span> 2 Oct</div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/profileImg.jpg" alt=""></a>
                <a href="#" class="userNAme"> Sarah</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar"><span class="downVote vote"></span> 2 Oct</div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/jack.jpg" alt=""></a>
                <a href="#" class="userNAme"> Jack</a> <br>
                <span class="font13 "> Events Coordinator, Designer</span>
                <div class="fr grayColor tar"> <span class="downVote vote"></span> 2 Oct</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>

