<div class="comments-box" style="margin-left:58px; margin-top: 17px;">
  <b><i><%= topic.name %></b></i></br>
  created at: <%= time_ago_in_words(topic.created_at).capitalize %> ago
</div>
<div class="hd">
            <%#=link_to post.title, post %>
              <%if topic.user_id==current_user.id%>
               <img src="/images/edit_icon-img.png" onclick = '$(".edit-topic-form-<%= topic.id%>").toggle();' >
              <%# end %>
            <div class="edit-topic-form-<%= topic.id %>" style="display:none;" >
            <div class="hitGoing">
                <div class="sendBoxtopic">                    
                      <%= form_for(topic,:remote=>true) do |f| %>
                      Name: <%= f.text_field :name, :class=>"input" ,:id=>'topic'%></br></br>
                      Description:<%= f.text_area :description, :class=>"input" ,:id=>'topic_description'%></br>
                      <%=f.submit%>
                      <% end %>
                    </div>
            </div>
            </div>
            <%#if post.user_id==current_user.id%>
       <%= link_to image_tag('delete-icon.png'), topic, method: :delete, data: { confirm: 'Are you sure?' }%>
             
            <% end %>
            </div>

<style type="text/css">
  #topic_description{
    width:200px;

  }
</style>