<li>
  <div class="lft"><a  href="#"><%= image_tag current_user.profile.try(:image) %></a></div>
  <div class="rgt">
  <div class="top">
    <div class="hd">
      <%=link_to topic.name, topic %>
      <%if topic.user_id==current_user.id%>
      <a href='/topics/<%=topic.id%>/edit'>
      <img src="/images/edit_icon-img.png" >
      </a>
      <% end %>
      <div class="edit-topic-form-<%= topic.id %>" style="display:none;">
        <div class="hitGoing">
          <div class="sendBox">                    
            <%#= form_for(topic, :remote=>true) do |f| %>
            <%#= f.text_field :title, :class=>"input" %>
            <%#= f.submit "Update", :class=>"btn"%>
            <%# end %>
          </div>
        </div>
      </div>
      <%if topic.user_id==current_user.id%>
        <%= link_to image_tag('delete-icon.png'), topic, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%else%>
        <%if current_user.following?(topic.user)%>
          <td class="following-button-<%= topic.user_id %>"><%= link_to "UnFollow", follow_path(:follower_id => topic.user_id), :method => :post , :class=>"transition addFriend", :remote=>true ,:class=>'replyBtn' %></td>
        <% else %>
          <td class="following-button-<%= topic.user_id %>"><%= link_to "Follow", follow_path(:follower_id => topic.user_id), :method => :post , :class=>"transition addFriend", :remote=>true,:class=>'replyBtn' %></td>
        <%end%>
      <%end%>  
    </div>
    <div class="links">
      <span class="like-<%= topic.id%>">
      <%= link_to "Like", topic_likes_path(topic), method: :post, remote: true%>
      </span>
      <span class="hide-show-comment" onclick= "$('#commentBox-<%= topic.id%>').toggle();">Comment</span>
    </div>
    <div class="lists-comments-<%= topic.id%>">
      <%# topic.comments.each do |comment|%>
      <!--           <div class="comments-box"><%#= comment.body %></div>
        -->    
      <div class="comment-box-<%#=comment.id%>">
        <%#= render 'comments/show' , :comment => comment %>
      </div>
      <%#end%>
    </div>
    <div class="commentBox commentBox-<%= topic.id%>" style="display :none" id="commentBox-<%= topic.id%>">
      <%#= form_for([topic, topic.posts.build], :remote=>true) do |f| %>
      <%#= f.text_field :body, :class=>"formInput" %>
      <%#= f.submit "Post", :class=>"btn"%>
      <%#end%>
    </div>
  </div>
  <div class="clr"></div>
</li>