<div class="midCon">
      <div class="responsive">
<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%if @topic.updated_at.present?%>
  <%= @topic.created_at %>(edited at <%=@topic.updated_at%>)
  <%else%>
  <%= @topic.created_at %>
  <%end%>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user.screen_name%>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
</div>
</div>