<% if @suggested_posts.present? %>
  <span class='userNAme'>Posts</span>
<% end %>
<div class='clearfix'></div>
<%if @suggested_posts.present?%>
  <%if suggest %>
    <div class="suggestedRow">
      <div class="clearfix conversationTop">
        <span class="bold grayColor"> <span class="font13 blackColor">Suggested Groups</span></span>
        <div class="fr"> <a href="/suggested_groups" class="grayColor">See More Groups <img src="/assets/images/rightArrow.jpg" alt=""></a> </div>
      </div>
    </div>
  <%end%>
  <%@suggested_posts.each_with_index do |post, index|%>    
    <div class="whiteBox borderTop col-sm-6 pb0 fl text-center" id="post_<%=post.id%>">
      <a href="<%=post_path(post)%>" class="pollImgOuter mt20 grpImg"><%=image_tag post.img%></a>
      <a href="<%=post_path(post)%>" class="block groupName width"><%=post.try(:topic)%></a>
    </div>
  <%end%>
<%end%>