<% if @suggested_forum_polls.present? %>
  <span class='userNAme'>Forum Polls</span>
<% end %>
<div class='clearfix'></div>
<%if @suggested_forum_polls.present?%>
  <%if suggest%>
    <div class="suggestedRow">
      <div class="clearfix conversationTop">
        <span class="bold grayColor"> <span class="font13 blackColor">Suggested Groups</span></span>
        <div class="fr"> <a href="/suggested_groups" class="grayColor">See More Groups <img src="/assets/images/rightArrow.jpg" alt=""></a> </div>
      </div>
    </div>
  <%end%>
  <%@suggested_forum_polls.each_with_index do |forum_poll, index|%>    
    <div class="whiteBox borderTop col-sm-6 pb0 fl text-center" id="forum_poll_<%=forum_poll.id%>">
      <a href="<%=forum_poll_path(forum_poll)%>" class="pollImgOuter mt20 grpImg"><%=image_tag forum_poll.img%></a>
      <a href="<%=forum_poll_path(forum_poll)%>" class="block groupName width"><%=forum_poll.try(:topic) %></a>
      <div class="virwJoinBtn">
        <a class="btmBtn" href="#"> 0 Updates</a>
        <%=link_to "Join", join_group_path(forum_poll), class: "btmBtn", id: "joinGroup_#{forum_poll.id}", remote: true%>
      </div>
    </div>
  <%end%>
<%end%>