<% notifications = current_user.notifications.unread %>
<% notifications.try(:reverse).each do |notification|%>
  <li class="notification-<%= notification.id %>">
    <div class="clearfix commentSec cmntRow">
      <div class="clearfix userInfo posRel"> <a href="<%= profile_path(notification.user)%>" class="userImg"><img src="<%= notification.user.img %>" alt=""></a> <a href="<%= profile_path(notification.user)%>" class="userNAme font14"><%=notification.user.try(:screen_name )%></a> <br>
        <div class="fr grayColor tar"><%= time_ago_in_words(notification.updated_at).capitalize %> ago</div>
        <div class="font13"><%= notification.body.truncate(50) %></div>
        <!-- <div class="blackColor font12 bold"> is now a connection</div> -->
        <% if (notification.notificable.class.name == "Group") || (notification.notificable.class.name == "Community") || (notification.notificable.class.name == "MeetingRoom") || (notification.notificable.class.name == "RevealIdentity")%>
         <div class="acceptRej">
          <%= link_to "", notification_accept_path(notification), :method => :post , :class=>"accept ", :remote=>true %>
             <%= link_to "", notification_reject_path(notification), :method => :post , :class=>"reject ", :remote=>true %>
            </div>
            <% end %>
      </div>              
    </li>
<% end %> 