<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/group.png" alt=""></span>
        Your Groups
        <%= link_to 'Back', :back, :class=>"back" %>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <%= form_for(@group, html: {class: "profile_form", :id => "form-id"}) do |f| %>
      <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this community from being saved:</h2>
        <ul>
          <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="#" class="profileImg"><img src="/assets/images/profile.jpg" alt=""></a>
          <div class="nameLocation">
            <a href="#"><%= current_user.profile.try(:screen_name) %></a><br>
            <span class="location"><%= current_user.profile.try(:country).try(:name) %></span>
          </div>
        </div>
        <%=render 'layouts/shared/upload', f: f, obj: @group%>
        <!-- container -->
      </div>
      <div class="clearfix whiteBox">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Select Category</label>
            <div class="selctFormBox">              
              <%= f.text_field "category", :value=>select_type(f, "category_id", "Category"), class: "selectInput" ,:id=>'category', name: "category_name_second"%>
              <%= f.select(:category_id, Category.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, "data-validation-engine"=>"validate[required]", class: "select")  %>
            </div>
            <div id="category_error"></div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Type Topic</label>
            <%= f.text_field :topic, "data-validation-engine"=>"validate[required,maxSize[80]]", class: "inputTextW small", placeholder: "Topics"%>
          </div>
          <div class="col-sm-12">
            <label class="font20">Write Your Headline</label>
            <%= f.text_field :headline, "data-validation-engine"=>"validate[required,maxSize[360]]", class: "inputTextW small", placeholder: "Write headline here...." %>
          </div>
          <div class="col-sm-12">
            <label class="">Write Something</label>
            <%= f.text_area :description, class: "inputTextW small", placeholder: "Write description here...."%>
          </div>
          <div class="col-sm-12 ">
            <label class="">Invite Users / Community</label>
            <input type="text" placeholder="" class="inputTextW small">
          </div>
          <div class="col-sm-12 mt10">
            <%= f.submit "Create Group", class: "blueBtn common_submit" %>
            <a href="#" class="grayBtn">Cancel</a> 
          </div>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(".remove_image" ).click(function() {
    $("#post_upload_attributes_image").val('');
     $('#imgprvw').attr('src', '../assets/images/cemera.png');
     $('.remove_image').hide();
  });
  $(".remove_file" ).click(function() {
  
    $("#post_file").replaceWith($('<input id="post_file" class="post post_file" type="file" name="post[file]" onchange="showfilepreview(this)" style="visibility: hidden; width: 1px; height: 1px">'));
    $( ".file_name" ).html( '' );
     $('.remove_file').hide();
  });
  // $(".remove_video" ).click(function() {
  //   $("#post_video").replaceWith($('<input id="post_video" class="post post_video" type="file" name="post[video]" onchange="showvideopreview(this)" style="visibility: hidden; width: 1px; height: 1px">'));
  //   $( "iframe" ).hide();
  //   $('#vdoprvw').attr('src', '../assets/images/videoIcon.png');
  //   $('.remove_video').hide();
  // });
</script>

