<!--  Header Start -->
<header class="clearfix whiteHeader ">
  <div class="logo wow fadeIn" data-wow-delay="" data-wow-duration="1s">
    <a href="#"> <img src="/assets/images/logoBlue.png" alt=""></a>
  </div>
  <div class="topRightHeader">
    <div class="topRight">
      <a href="#"><img src="/assets/images/noti.png" alt=""><span>20</span></a>
      <a href="#"><img src="/assets/images/email.png" alt=""><span>6</span></a>
      <a href="#"><img src="/assets/images/user.png" alt=""></a>
      <a href="#"><img src="/assets/images/wlt.png" alt=""></a>
      <a href="#" class="wlt">500</a>
      <a href="#"><img src="/assets/images/setting.png" alt=""></a>
    </div>
    <div class="topSearchRight wow fadeIn" data-wow-delay="" data-wow-duration="1s">
      <div class="catLIstLink">
        <a href="#" class="catLIst"><img src="/assets/images/catDrop.png" alt=""></a>
      </div>
      <div class="formOuter">
        <form method="post" action="">
          <input type="text" placeholder="You can also search by keyword, Topic, Peoples..." class="searhInput">
          <input type="submit" value="" class="searhSub">  
        </form>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li class="activeMenu"><a href="#">News Feed</a></li>
          <li><a href="#">Hot Topics</a></li>
          <li><a href="#">Followers (25)</a></li>
          <li><a href="#">Following (100)</a></li>
          <li><a href="#">More <img src="/assets/images/arrowBlack.png" alt=""> </a></li>
        </ul>
      </div>
    </div>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/group.png" alt=""></span>
        Your Groups
        <%= link_to 'Back', :back, :class=>"back" %>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <%= form_for(@group, html: {class: "profile_form"}) do |f| %>
      <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this community from being saved:</h2>
        <ul>
          <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="#" class="profileImg"><img src="/assets/images/profile.jpg" alt=""></a>
          <div class="nameLocation">
            <a href="#"><%= current_user.profile.try(:screen_name) %></a><br>
            <span class="location"><%= current_user.profile.try(:country) %></span>
          </div>
        </div>
        <%=render 'layouts/shared/upload', f: f, obj: @group%>
        <!-- container -->
      </div>
      <div class="clearfix whiteBox">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Select Category</label>
            <div class="selctFormBox">              
              <%= f.text_field "category", :value=>select_type(f, "category_id", "Category"), class: "selectInput" ,:id=>'category', name: "category_name_second"%>
              <%= f.select(:category_id, Category.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, class: "select")  %>
            </div>
            <div id="category_error"></div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Type Topic</label>
            <%= f.text_field :topic, placeholder: "Topics", class: "inputTextW small"%>
          </div>
          <div class="col-sm-12">
            <label class="font20">Write Your Headline</label>
            <%= f.text_field :headline,class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="">Write Something</label>
            <%= f.text_area :description, class: "inputTextW small"%>
          </div>
          <div class="col-sm-12 ">
            <label class="">Invite Users / Community</label>
            <input type="text" placeholder="" class="inputTextW small">
          </div>
          <div class="col-sm-12 mt10">
            <%= f.submit "Create Contest", class: "blueBtn" %>
            <a href="#" class="grayBtn">Cancel</a> 
          </div>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(".remove_image" ).click(function() {
    $("#post_upload_attributes_image").val('');
     $('#imgprvw').attr('src', '../assets/images/cemera.png');
     $('.remove_image').hide();
  });
  $(".remove_file" ).click(function() {
  
    $("#post_file").replaceWith($('<input id="post_file" class="post post_file" type="file" name="post[file]" onchange="showfilepreview(this)" style="visibility: hidden; width: 1px; height: 1px">'));
    $( ".file_name" ).html( '' );
     $('.remove_file').hide();
  });
  // $(".remove_video" ).click(function() {
  //   $("#post_video").replaceWith($('<input id="post_video" class="post post_video" type="file" name="post[video]" onchange="showvideopreview(this)" style="visibility: hidden; width: 1px; height: 1px">'));
  //   $( "iframe" ).hide();
  //   $('#vdoprvw').attr('src', '../assets/images/videoIcon.png');
  //   $('.remove_video').hide();
  // });
</script>

