<%groups.each do |group|%>
  <div class="whiteBox borderTop  col-sm-6 pb0  fl">
    <% if current_user && current_user == group.user %>
      <div class="editDlt  dropdown">
        <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
        <ul class="dropdown-menu">
          <li><%=link_to "Edit", edit_group_path(group)%></li>
          <li><%=link_to "Delete", group_path(group), method: :delete, data: { confirm: 'Are you sure?' }%></li>
        </ul>
      </div>
    <% end %>
    <a href="<%=group_path(group)%>" class="block mt20"> <%=image_tag group.img%></a>
    <a href="<%=group_path(group)%>" class="block groupName width"><%= group.try(:topic) %></a>
    <div class="virwJoinBtn">
      <a class="btmBtn" href="#"> <%= group.members.try(:count)%> <%= group.members.try(:count) >1 ? 'Members' : 'Member' %></a>
      <a class="btmBtn" href="#" > 0 Discussion </a>
    </div>
  </div>
<%end%>  
<div class="clearfix"></div>
<div class="suggestedRow">
  <div class="clearfix conversationTop">
    <span class="bold grayColor"> <span class="font13 blackColor">Suggested Groups</span></span>
    <div class="fr"> <a href="#" class="grayColor">See More Group <img src="/assets/images/rightArrow.jpg" alt=""></a> </div>
  </div>
</div>  