<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix blueBkg meetingRoomTOp">
      <div class="innerWIdth550">
        <span><%= image_tag @group.img %></span>
        <div class="mtngTitle font18 mt10Final">
          <%= @group.try(:headline) %>
        </div>
        <div class="fr font12">
          <a href="<%= leave_group_path(@group)%>" class="back" data-method ="post"><img src="/assets/images/accept.png" alt=""> member</a><br>
          <div class="fr font14">  <%= @group.members.try(:count)%> Members</div>
        </div>
      </div>
    </div>
    <%= render 'posts/polymorphic_form'%>
   <div class="clearfix innerWIdth550 tac ">
      <a href="/posts/new" class="addPostBtn"><%=params[:data] ? 'CREATE TOPICS' : 'ADD POSTS'%></a>
      <div id="posts" class="masonry-container">
        <%=render "users/post"%>
      </div>
        <%#= will_paginate @posts %>
      
      <div class="clearfix whiteBox borderTop  mb10 pb0">
        <div class="clearfix conversationTop borderBtm">
          <span class="bold grayColor">See anyone you know? <span class="font13 blackColor">Connect with them</span></span>
          <div class="fr">
            <a href="/suggested_connections" class="grayColor">See More Connection <img src="/assets/images/rightArrow.jpg" alt=""></a>
          </div>
        </div>
        <div class="connectionOuter suggest_connections ">
          <%=render 'users/shared/suggested_connections', suggest: true%>
        </div>
      </div>
      <div class="clearfix grpOuter suggest_communities">
        <%=render 'users/shared/suggested_communities', suggest: true%>
      </div>      
    </div>
  </div>
</div>