<%if @peoples%>
  <div class="searchBox">
    <div class="grayHD bold">People</div>
    <%@peoples.each do |user|%>
      <div class="clearfix userInfo posRel">
        <a href="<%=user_path(user)%>" class="userImg"><%=image_tag user.img%></a>
        <a href="<%=user_path(user)%>" class="userNAme font14 mt5"><%=user.screen_name%></a> <br>
        <div class="font13 mt5 bold"><%=user.employment_details.try(:last).try(:designation)%></div>
      </div>
    <%end%>
  </div>
<%end%>

<%if @groups%>
  <div class="searchBox">
    <div class="grayHD bold">Groups</div>
    <%@groups.each do |user|%>
      <div class="clearfix userInfo posRel">
        <a href="#" class="userImg"><img src="images/g1.jpg" alt=""></a>
        <a href="#" class="userNAme font14 mt5">Adobe Photoshop Group</a> <br>
        <div class="font13 mt5 bold">Designers Talk: Graphic, web, digital design and creative...</div>
      </div>
    <%end%>
  </div>
<%end%>

<%if @communities%>
  <div class="searchBox community">
    <div class="grayHD bold">community</div>
    <%@communities.each do |user|%>
      <div class="clearfix userInfo posRel">
        <a href="#" class="userImg"><img src="images/cm1.jpg" alt=""></a>
        <a href="#" class="userNAme font14 mt5">Your Ultimate Guide To Google+ Communities</a> <br>
      </div>
    <%end%>  
  </div>
<%end%>