<%@followers.each do |follower|%>
  <%if !params[:data] || follower.follower.screen_name.downcase.include?(params[:data].downcase)%>
    <div class="clearfix whiteBox connectionRow borderTpBlue">
      <div class="clearfix  cmntRow">
        <div class="clearfix userInfo posRel">
          <div class="clearfix  "></div>
          <a href="<%= profile_path(user(follower))%>" class="userImg"><img src="<%= user(follower).try(:img) %>" alt=""></a>
          <a href="<%= profile_path(user(follower))%>" class="userNAme"> <%=user(follower).try(:screen_name)%></a> <br>
          <div class="fr grayColor tar">
            <%= time_ago_in_words(follower.updated_at).capitalize %> ago<br>
            <%if !current_user.friendships.collect(&:friend).include? @post.user %>
                  <span class="friendship-button-<%=  @post.user.id  %> mt10">
                  <%= link_to 'Connect', friendships_path(:friend_id =>@post.user.id), :class=>"mt10 fr grayColor tar ", :remote=>true ,:method => :post %>
                  </span>
                <%end%>
            <div class="mt5 mb-10">
              <a href="#" class="removeLink inline">Message </a> |                
              <%if current_user != @post.user %>
                <span id="following-button-span-<%= @post.id %>" class="user-folowed-<%=@post.user.id %>">
                  <%= render :partial=> "users/follow_link", :locals => {:post => @post} %>
                </span>
              <% end %>
            </div>
          </div>
          <div class="font13 mt5"><%=designations(user(follower))%></div>
          <div class="font13"><%=follower.follower.try(:profile).try(:country).try(:name)%></div>
        </div>
      </div>
    </div>
  <%end%>  
<%end%>