<% object.each do |follow|%>
  <% if (follow.followable.class.name == "Community" || follow.followable.class.name == "Group" || follow.followable.class.name == "MeetingRoom") %>
    <div class="clearfix whiteBox connectionRow borderTpBlue">
      <div class="clearfix  cmntRow">
        <div class="clearfix userInfo posRel">
          <div class="clearfix  "></div>
            <% if follow.followable.class.name == "Community"%>
              <% @path_name = community_path(follow.followable) %>
            <% elsif follow.followable.class.name == "Group" %>
              <% @path_name = group_path(follow.followable) %>
            <% elsif follow.followable.class.name == "MeetingRoom" %>
              <% @path_name = meeting_room_path(follow.followable) %>
            <% end %>
            <a href="<%= @path_name %>" class="userImg"><%=image_tag follow.followable.img , :title =>follow.followable.try(:topic)%></a>
            <a href="<%= @path_name %>" class="userNAme"> <%=follow.followable.try(:topic)%></a> <br>
            <div class="fr grayColor tar">
            <%= time_ago_in_words(follow.updated_at).capitalize %> ago<br>
              <span class="friendship-button-<%#= follow.followable.id %>">
                <% if follow.followable.class.name == "Community"%>
                  <%#= link_to "Join", join_community_path(follow.followable), :class=>"mt10", :remote=>true %>
                <% elsif follow.followable.class.name == "Group"%>
                  <%#= link_to "Join", join_group_path(follow.followable), :class=>"mt10", :remote=>true %>
                <% end %>
              </span>
          </div>         
        </div>
      </div>
    </div>
  <%elsif follow.followable.class.name == "Post"%>
    <div class="clearfix whiteBox connectionRow borderTpBlue">
      <div class="clearfix  cmntRow">
        <div class="clearfix userInfo posRel">
          <div class="clearfix  "></div>
            <a href="<%= post_path(follow.followable) %>" class="userImg"><%=image_tag follow.followable.img , :title =>follow.followable.try(:topic)%></a>
            <a href="<%= post_path(follow.followable) %>" class="userNAme"> <%=follow.followable.try(:topic)%></a> <br>
            <div class="fr grayColor tar">
            <%= time_ago_in_words(follow.updated_at).capitalize %> ago<br>
          </div>         
        </div>
      </div>
    </div>
  <% end %> 
<%end%>
