<% if object.first.class.name == "Community" %>
 <span class="userNAme">Communities</span>
<% elsif object.first.class.name == "MeetingRoom"%>
  <span class="userNAme">Meeting Rooms</span>
<% elsif object.first.class.name == "Group"%>
  <span class="userNAme">Groups</span>
<% elsif object.first.class.name == "Post"%>
  <span class="userNAme">Posts</span>
<% end %>
<div class="clearfix"></div>
<% object.each do |follow|%>
  <% if (follow.class.name == "Community" || follow.class.name == "Group" || follow.class.name == "MeetingRoom") %>
    <div class="whiteBox borderTop col-sm-6 pb0 fl">
      <% if follow.class.name == "Community"%>
        <% @path_name = community_path(follow) %>
      <% elsif follow.class.name == "Group" %>
        <% @path_name = group_path(follow) %>
      <% elsif follow.class.name == "MeetingRoom" %>
        <% @path_name = meeting_room_path(follow) %>
      <% end %>
      <a href="<%= @path_name %>" class="pollImgOuter mt20 grpImg text-center"><%=image_tag follow.img , :title =>follow.try(:topic)%></a>
      <a href="<%= @path_name %>" class="block groupName width"> <%=follow.try(:topic)%></a>
      <div class="virwJoinBtn">
        <a class="btmBtn" href="#" > <%= follow.members.try(:count)%> <%= follow.members.try(:count) >1 ? 'Members' : 'Member' %> </a>
        <a class="btmBtn" href="#"> Join </a>           
      </div>
    </div>
  <%elsif follow.class.name == "Post"%>
    <div class="whiteBox borderTop col-sm-6 pb0 fl">
      <a href="<%= post_path(follow) %>" class="pollImgOuter mt20 grpImg text-center"><%=image_tag follow.img , :title =>follow.try(:topic)%></a>
      <a href="<%= post_path(follow) %>" class="block groupName width"> <%=follow.try(:topic)%></a>
    </div>
  <% end %> 
<%end%>
