        <a href = "/posts/<%= post.id %>">
          <div class="clearfix whiteBox borderTop mb10 pb0">
            <div class="clearfix formOuterPost tal padding10-0">
              <div class="col-sm-12 mb10">
                <div class="clearfix userInfo posRel">
                  <div class="videoPost">
                    <div class="font12 bold blackColor"><%=link_to post.try(:title), post %></div>
                    <% if post.upload.present? %>
                      <a href="<%= post_path(post)%>" class="post"><%= image_tag post.upload.try(:image) %></a>
                    <% end %>
                    <% if post.upload.present? %>
                      <a href="<%= post_path(post)%>" class="post"><img src="/assets/images/videoPost.png" alt=""></a>
                    <% end %>
                    <!-- <div class="grayColor bold">The Game Before The Game: <a href="#" class="blueColor">Incredible</a></div> -->
                  </div>
                  <div class="clearfix borderBtmS"></div>

                  <a href="<%= profile_path(post.user)%>" class="userImg"><img src="<%= post.user.try(:img) %>" alt=""></a>
                  <a href="<%= profile_path(post.user)%>" class="userNAme"> <%= post.user.try(:screen_name) %></a> <br>
                  <span class="font13"><%= designation(post) %></span>
                  <div class="fr grayColor tar"><%= time_ago_in_words(post.created_at.strftime("%d %b")) rescue 0%> Ago<br>

                    <a href="#"><img src="/assets/images/add.png" alt=""></a>
                    <span id="following-button-span-<%= post.id %>">
                      <%= render :partial=> "follow_link", :locals => {:post => post} %>
                    </span>
                                        <!-- <a href="#">Follow</a> -->
                  </div>
                </div>
                <div class="uniOuter">
                  <div class="mt0 blackColor bold ">
                    <p><%= post.title %></p>
                    <p>
                      <%= post.try(:description).try(:html_safe) %> 
                    </p>
                    <a href="<%=root_path(id: post.id)%>" class="listen whiteBtn" data-remote="true"><img src="/assets/images/audio38.png" alt=""> Listen this post </a>                    
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="commentSec">
                <span class="grayColor font12"><span id="post_like_count_<%= post.id %>"><%= post.likes.count%></span> Likes &nbsp; &nbsp; <span id="comments_count_<%= post.id %>"><%= post.comments.try(:count) %>&nbsp;<%= post.comments.try(:count) == 1 ? 'Comment' : 'Comments' %></span> &nbsp; &nbsp; 468 shares</span>
                <div class="cmntSec">
                  <%if post.liked?(current_user).present?%>
                  <%=link_to image_tag("images/up.png"), post_likes_path(post, from: "post_index"), method: :post, remote: true,:class=>'like_image_post_liked', :id=> "like_image_post_liked_#{post.id}"%>
                <%else%>
                  <%=link_to image_tag("images/up.png"), post_likes_path(post, from: "post_index"), method: :post, remote: true,:class=>'like_image_post', :id=> "like_image_post_#{post.id}"%>
                <%end%>
                <%if post.disliked?(current_user).present?%>
                  <%=link_to image_tag("images/down1.png"), post_dislikes_path(post, from: "post_index"), method: :post, remote: true,:class=>'dislike_image_post_disliked', :id=>"dislike_image_post_disliked_#{post.id}"%>
                <%else%>
                  <%=link_to image_tag("images/down1.png"), post_dislikes_path(post, from: "post_index"), method: :post, remote: true,:class=>'dislike_image_post', :id=>"dislike_image_post_#{post.id}"%>
                <%end%>
                  <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a>
                  <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
                  <input type="button" value="Add Your Comment" class="addCmnt inputTextW small" onclick="comment_body(<%= post.id %>);" id="comment_button_<%= post.id %>">
                </div>
              </div>
              <div class="commentShow">
                <div  class="clearfix commentSec cmntRow">
                  <% if post.comments.count>0 %><div class="bold mb10"><a href="javascript:void()" onclick="show_comments(<%= post.id %>)" class="grayColor font13 showCmnt">Show Previous Comments</a></div><% end %>
                  <div class="clearfix userInfo posRel">
                    <div id="comments_<%= post.id %>" style="display:none;">
                      <%= render partial: "comments/comments_view", locals: { comments: post.comments, from: "post_index" } %>
                    </div>  
                  </div>
                </div>
                <div  class="clearfix commentSec cmntRow borderNOne" id="comment_box_<%= post.id %>">
                  <div class="clearfix userInfo posRel">
                    <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a>
                    <div class="addcomtntTA">
                      <%= form_for(@comment, remote: true) do |f| %>
                        <div class="field">
                          <%= f.text_area :body, placeholder: "Add Your Comment", id: "comment_body_#{post.id}", class: "addCmnt inputTextW small" %>
                          <%= hidden_field_tag :from, "post_index" %>
                          <%= hidden_field_tag :post_id, post.id %>
                          <%= f.submit "Save", class: "blueBtn", id: "save_comment#{post.id}" %>
                          <a href="javascript:;" class="grayBtn" id="comment_cancel">Cancel</a> 
                        </div>
                      <% end %> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </a> 