<div class="bodyCont">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg myWall">
      <div class="clearfix innerWIdth550">
        <div class="userTHumb">
          <a href="#" class="profileImg"><img src="<%= current_user.img %>" alt=""></a>
          <div class="nameLocation">
            <a href="#" class="font22"><%= current_user.try(:profile).try(:screen_name) %></a>
            <div class="location font14"><%= current_user.try(:profile).try(:country) %></div>
            <a href="<%=edit_profile_path(current_user)%>" class="normal">Edit</a>
          </div>
        </div>
        <a href="<%=edit_profile_path(current_user)%>" class="back">complete your profile</a>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <a href="/posts/new" class="addPostBtn">Add posts</a>
      <% @post.each do |post| %>
      <%debugger%>
        <% designation = post.user.employment_details.collect(&:designation) %>
        <% designation = designation.present? ? designation.join(",") : "" %>
        <a href = "/posts/<%= post.id %>">
          <div class="clearfix whiteBox borderTop  mb10 pb0">
            <div class="clearfix formOuterPost tal padding10-0">
              <div class="col-sm-12 mb10">
                <div class="clearfix userInfo posRel">
                  <div class="videoPost">
                    <div class="font12 bold blackColor"><%=post.try(:title)%></div>
                    <% if post.image.present? %>
                      <a href="#" class="post"><%= image_tag post.try(:image) %></a>
                    <% end %>
                    <% if post.video.present? %>
                      <a href="#" class="post"><img src="/assets/images/videoPost.png" alt=""></a>
                    <% end %>
                    <div class="grayColor bold">The Game Before The Game: <a href="#" class="blueColor">Incredible</a></div>
                  </div>
                  <div class="clearfix borderBtmS"></div>

                  <a href="#" class="userImg"><img src="<%= current_user.img %>" alt=""></a>
                  <a href="#" class="userNAme"> <%= current_user.try(:profile).try(:screen_name) %></a> <br>
                  <span class="font13"><%= designation %></span>
                  <div class="fr grayColor tar"><%= time_ago_in_words(post.created_at.strftime("%d %b")) rescue 0%> Ago<br>

                    <a href="#"><img src="/assets/images/add.png" alt=""></a>
                    <span id="following-button-span-<%= post.id %>">
                      <%= render :partial=> "follow_link", :locals => {:post => post} %>
                    </span>
                                        <!-- <a href="#">Follow</a> -->
                  </div>
                </div>
                <div class="uniOuter">
                  <div class="mt0 blackColor bold ">
                    <p><%= post.title %></p>
                    <p>
                      <%= post.try(:description).try(:html_safe) %> 
                    </p>
                    <a href="javascript:void(0)" class="listen whiteBtn"><img src="/assets/images/audio38.png" alt=""> Listen this post </a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="commentSec">
                <span class="grayColor font12"><span id="post_like_count_<%= post.id %>"><%= post.likes.count%></span> Likes &nbsp; &nbsp; <span id="comments_count_<%= post.id %>"><%= post.comments.try(:count) %>&nbsp;<%= post.comments.try(:count) == 1 ? 'Comment' : 'Comments' %></span> &nbsp; &nbsp; 468 shares</span>
                <div class="cmntSec">
                  <%if post.liked?(current_user).present?%>
                  <%=link_to image_tag("images/up.png"), post_likes_path(post, from: "post_index"), method: :post, remote: true,:class=>'like_image_post_liked', :id=> "like_image_post_liked_#{post.id}"%>
                <%else%>
                  <%=link_to image_tag("images/up.png"), post_likes_path(post, from: "post_index"), method: :post, remote: true,:class=>'like_image_post', :id=> "like_image_post_#{post.id}"%>
                <%end%>
                <%if post.disliked?(current_user).present?%>
                  <%=link_to image_tag("images/down1.png"), post_dislikes_path(post, from: "post_index"), method: :post, remote: true,:class=>'dislike_image_post_disliked', :id=>"dislike_image_post_disliked_#{post.id}"%>
                <%else%>
                  <%=link_to image_tag("images/down1.png"), post_dislikes_path(post, from: "post_index"), method: :post, remote: true,:class=>'dislike_image_post', :id=>"dislike_image_post_#{post.id}"%>
                <%end%>
                  <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a>
                  <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
                  <input type="button" value="Add Your Comment" class="addCmnt inputTextW small" onclick="comment_body(<%= post.id %>);" id="comment_button_<%= post.id %>">
                </div>
              </div>
              <div class="commentShow">
                <div  class="clearfix commentSec cmntRow">
                  <div class="bold mb10"><a href="#" class="grayColor font13 showCmnt">Show Previous Comments</a></div>
                  <div class="clearfix userInfo posRel">
                    <div id="comments_<%= post.id %>">
                      <%= render partial: "comments/comments_view", locals: { comments: post.comments, from: "post_index" } %>
                    </div>  
                    <a href="#" class="userImg"><img src="/assets/images/jack.jpg" alt=""></a>
                    <a href="#" class="userNAme"> Jack</a> <br>
                    <span class="font13"> Events Coordinator, Designer</span>
                    <div class="fr grayColor tar">2 Oct</div>
                    <div class="clearfix mt10 font13 blackColor bold">Everybody deserves the comfort living. </div>
                    <div class="font13 bold blueColor mt5"><a href="#" class="blueColor" >Like </a>| <a href="javascript:void(0)" class="blueColor reply" > Reply</a></div>
                    <div class="clearfix replyRow">
                      <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a> <input type="text" class="inputTextW small" placeholder="Add Your Comment">
                    </div>
                  </div>
                </div>
                <div  class="clearfix commentSec cmntRow borderNOne" id="comment_box_<%= post.id %>">
                  <div class="clearfix userInfo posRel">
                    <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a>
                    <div class="addcomtntTA">
                      <%= form_for(@comment, remote: true) do |f| %>
                        <div class="field">
                          <%= f.text_area :body, placeholder: "Add Your Comment", id: "comment_body_#{post.id}", class: "addCmnt inputTextW small" %>
                          <%= hidden_field_tag :from, "post_index" %>
                          <%= hidden_field_tag :post_id, post.id %>
                          <%= f.submit "Save", class: "blueBtn", id: "save_comment#{post.id}" %>
                          <a href="javascript:;" class="grayBtn" id="comment_cancel">Cancel</a> 
                        </div>
                      <% end %> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </a> 
      <% end %>
      <div class="clearfix whiteBox borderTop  mb10 pb0">
        <div class="clearfix conversationTop borderBtm">
          In the conversation on Game of Thrones
          <div class="converRight">
            <a href="#"><img src="/assets/images/con1.jpg" alt=""></a> &nbsp; 
            <a href="#"><img src="/assets/images/con2.jpg" alt=""></a> &nbsp;
            <a href="#"><img src="/assets/images/con3.jpg" alt=""></a> &nbsp;
            <a class="blueColor">+11</a>
          </div>
        </div>
        <div class="clearfix formOuterPost tal padding10-0 ">
          <div class="col-sm-12 mb10">
            <div class="clearfix userInfo posRel">
              <a href="#" class="userImg"><img src="/assets/images/profileImg.jpg" alt=""></a>
              <a href="#" class="userNAme"> Sarah</a> <br>
              <span class="font13">Events Coordinator, Designer</span>
              <div class="fr grayColor tar">2h<br>
                <a href="#"><img src="/assets/images/add.png" alt=""></a>

                <a href="#">Follow</a>
              </div>
            </div>
            <div class="uniOuter">
              <div class="mt0 blackColor bold ">
                <p>Game of Thrones: <a href="#" class="blueColor">over it</a></p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="commentSec">
            <span class="grayColor font12">22,577 Likes &nbsp; &nbsp; 587 Comments &nbsp; &nbsp; 468 shares</span>
            <div class="cmntSec">
              <a href="#"><img src="/assets/images/up.png" alt=""></a>
              <a href="#"><img src="/assets/images/down1.png" alt=""></a>
              <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a>
              <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
              <input type="button" value="Add Your Comment" class="addCmnt inputTextW small">
            </div>
          </div>
          <div class="commentShow">
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <div class="bold mb10"><a href="#" class="grayColor font13 showCmnt">Show Previous Comments</a></div>
                <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a>
                <a href="#" class="userNAme"> You</a> <br>
                <span class="font13">Web Designer</span>
                <div class="fr grayColor tar">2 Oct</div>
                <div class="clearfix mt15 font13 blackColor bold">What are you most excited about? <a href="#" class="blueColor">I know mine!</a></div>
                <div class="font13 bold blueColor"><a href="#" class="blueColor" >Like </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix whiteBox borderTop  mb10 pb0">
        <div class="clearfix conversationTop borderBtm">
          <span class="bold grayColor">See anyone you know? <span class="font13 blackColor">Connect with them</span></span>
          <div class="fr">
            <a href="#" class="grayColor">See More Connection <img src="/assets/images/rightArrow.jpg" alt=""></a>
          </div>
        </div>
        <div class="connectionOuter ">
          <div class="col-sm-6 borderRight">
            <a href="#"> <img src="/assets/images/user1.jpg" alt=""> 
            <span>H. Peter Curran</span></a>
            <div class="dsignation">Appraiser, Art, Antiques,
              Deconstruction      
            </div>
            <a href="#" class="whiteBtn"> Follow </a>
          </div>
          <div class="col-sm-6">
            <a href="#"> <img src="/assets/images/user2.jpg" alt=""> 
            <span>Trip Spencer</span></a>
            <div class="dsignation">Director</div>
            <a href="#" class="whiteBtn"> Follow </a>
          </div>
        </div>
      </div>
      <div class="clearfix whiteBox borderTop  mb10 pb0">
        <div class="clearfix conversationTop borderBtm">
          In the conversation on Game of Thrones
          <div class="converRight">
            <a href="#"><img src="/assets/images/con1.jpg" alt=""></a> &nbsp; 
            <a href="#"><img src="/assets/images/con2.jpg" alt=""></a> &nbsp;
            <a href="#"><img src="/assets/images/con3.jpg" alt=""></a> &nbsp;
            <a class="blueColor">+11</a>
          </div>
        </div>
        <div class="clearfix formOuterPost tal padding10-0 ">
          <div class="col-sm-12 mb10">
            <div class="clearfix userInfo posRel">
              <a href="#" class="userImg"><img src="/assets/images/profileImg.jpg" alt=""></a>
              <a href="#" class="userNAme"> Sarah</a> <br>
              <span class="font13">Events Coordinator, Designer</span>
              <div class="fr grayColor tar">2h<br>
                <a href="#"><img src="/assets/images/add.png" alt=""></a>
                <a href="#">Follow</a>
              </div>
            </div>
            <div class="uniOuter">
              <div class="mt0 blackColor bold ">
                <p>FREE Whitepaper: Driving "Make in India" with Simulation-Driven Product Development  <a href="#" class="blueColor">http://bit.ly/1jivyyN</a></p>
                <div class="clearfix videoFeed bold">
                  <a href="#" class="videoFeedImg"><img src="/assets/images/videoFeed.jpg" alt=""></a>
                  <div class="font18">Make in India</div>
                  ansys.comThe "Make in India" initiative aims to remove policy and infrastructure bottle­necks and catapult India into a global manufacturing hub....
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="commentSec">
            <span class="grayColor font12">22,577 Likes &nbsp; &nbsp; 587 Comments &nbsp; &nbsp; 468 shares</span>
            <div class="cmntSec">
              <a href="#"><img src="/assets/images/up.png" alt=""></a>
              <a href="#"><img src="/assets/images/down1.png" alt=""></a>
              <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a>
              <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
              <input type="button" value="Add Your Comment" class="addCmnt inputTextW small">
            </div>
          </div>
          <div class="commentShow">
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <div class="bold mb10"><a href="#" class="grayColor font13 showCmnt">Show Previous Comments</a></div>
                <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a>
                <a href="#" class="userNAme"> You</a> <br>
                <span class="font13">Web Designer</span>
                <div class="fr grayColor tar">2 Oct</div>
                <div class="clearfix mt15 font13 blackColor bold">What are you most excited about? <a href="#" class="blueColor">I know mine!</a></div>
                <div class="font13 bold blueColor"><a href="#" class="blueColor" >Like </a></div>
              </div>
            </div>
            <div class="clearfix commentSec cmntRow borderNOne">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a>
                <div class="addcomtntTA">
                  <textarea placeholder="Add Your Comment" class="inputTextW small "></textarea>
                  <input value="Save" class="blueBtn" type="submit">
                  <a href="javascript:void(0)" class="grayBtn Cancel">Cancel</a>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
  $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
  });

  function comment_body(id) {
    $("#comments_"+id).toggle();
    $("#comment_box_"+id).toggle();
    $("html, body").scrollTop($('#comment_box_'+id).offset().top);
  }
</script>
