<%= content_for(:title, current_user.try(:screen_name).try(:capitalize)) %>
<div class="bodyCont">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <%if !params[:data]%>
      <div class="blueBkg myWall">
        <div class="clearfix innerWIdth550">
          <div class="userTHumb">
            <a href="<%=edit_profile_path(current_user)%>" class="profileImg"><%= image_tag current_user.img %></a>
            <div class="nameLocation">
              <a href="<%=edit_profile_path(current_user)%>" class="font22"><%= current_user.try(:screen_name) %></a>
              <div class="location font14"><%= current_user.try(:profile).try(:country).try(:name) %></div>
              <a href="<%=edit_profile_path(current_user)%>" class="normal">Edit</a>
            </div>
          </div>
          <a href="<%=edit_profile_path(current_user)%>" class="back">complete your profile</a>
        </div>
      </div>
    <%end%>
    <div class="clearfix innerWIdth550 tac ">
      <a href="/posts/new" class="addPostBtn"><%=params[:data] ? 'CREATE TOPICS' : 'ADD POSTS'%></a>
      <div id="posts" class="masonry-container">
        <%=render "post"%>
      </div> 
      <div class="loader-img" style="display:none;">
        <!-- <img alt="" src="../assets/images/preloader.gif" width="40"> Loading... please wait -->
      </div>
      
    </div>
  </div>
</div>
    
<script type="text/javascript">
  $(function () {
    $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
  });

 
$(document).ready(function() {
  if ($('.pagination').length) {
    $(window).scroll(function() {
      var url = $('.pagination .next_page').attr('href');
      if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
        $('.pagination').text("Please Wait...");
        return $.getScript(url);
      }
    });
    return $(window).scroll();
  }
});
  
  //Pagination 
(function() {
  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 100;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      $('.loader-img').show();
      loading=true;
      page++;
      $.ajax({
        url: '/dashboard',
        type: 'get',
        data: {data: page, page: page },
        dataType: 'script'
      });
    }
  });

  
}());

   

</script>