<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/following.png" alt=""></span>
        Your Following
        <div class="fr ">
          <div class="fr font14 mt35"><%=@followings.try(:count) %> followings</div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Friend" class="searhInput1" type="text">
            <input value="" class="searhSub" type="submit">
          </form>
        </div>
      </div>
      <%@followings.each do |follow|%>
        <div class="clearfix whiteBox connectionRow borderTpBlue">
          <div class="clearfix  cmntRow">
            <div class="clearfix userInfo posRel">
              <div class="clearfix  "></div>
              <a href="<%= profile_path(follow.followable.try(:user))%>" class="userImg"><%=image_tag follow.followable.try(:user).img , :title =>follow.followable.try(:user).try(:screen_name)%></a>
              <a href="#" class="userNAme"> <%=follow.followable.try(:user).try(:screen_name)%></a> <br>
              <div class="fr grayColor tar">
                2 days ago<br>
                <%if !current_user.friendships.collect(&:friend).include? follow.followable.user %>
                  <span class="friendship-button-<%= follow.followable.user.id %>">
                  <%= link_to "Connect", friendships_path(:friend_id => follow.followable.user.id), :class=>"mt10", :remote=>true ,:method => :post %>
                  </span>
                <%end%>
                <div class="mt5 mb-10">
                  <a href="#" class="removeLink inline">Message </a> |  <a href="#" class="removeLink inline">  Unfollow</a>
                </div>
              </div>
              <div class="font13 mt5"><%=designations(user(follow))%></div>
              <div class="font13">Ltd Lake Hiawatha, New Jersey</div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="tac preloader "> <img src="/assets/images/preloader.gif" alt=""> </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
  });
</script>