<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/following.png" alt=""></span>
        Your Following
        <div class="fr ">
          <div class="fr font14 mt35"><%=@followings.try(:count) %> followings</div>
        </div>
      </div>
    </div>
    <!-- <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Friend" class="searhInput1 following" type="text" id="user">
            <input value="" class="searhSub" type="">
          </form>
        </div>
      </div>
      <div class="following"><%#=render 'following'%></div>      
      <div class="tac preloader "> <img src="/assets/images/preloader.gif" alt=""> </div>
    </div> -->

    <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Community" class="searhInput1 following" type="text">
            <input value="" class="searhSub" type="">
          </form>
        </div>
      </div>

      <div class="post_following grpOuter">
        <span class="userNAme"><%= @post_followings.first.class.name.pluralize if @post_followings.present? %></span>        
        <div class="clearfix"></div>
        <%=render "users/following" %>
      </div>

      <div class="community_following grpOuter">
        <%=render "users/shared/suggested_communities", suggest: false %>
      </div>
      <div class="clearfix"></div>
      <div class="group_following grpOuter">
        <%=render "users/shared/suggested_groups", suggest: false %>
      </div>
      <div class="clearfix"></div>
      <div class="meeting_room_following grpOuter">
          <%=render "users/shared/suggested_meeting_rooms", suggest: false %>
      </div>
      <div class="clearfix"></div>
      <div class="contest_following grpOuter">
        <%=render "users/shared/suggested_contests", suggest: false %>
      </div>
      <div class="clearfix"></div>
      <div class="forum_poll_following grpOuter">
        <span class="userNAme"><% @suggested_forum_polls.first.class.name.pluralize if @suggested_forum_polls %></span>
        <div class="clearfix"></div>
        <%=render "users/shared/suggested_forum_polls", suggest: false %>
      </div>

    </div>
  </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
  $(function () {
    $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
  });
</script>