<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/following.png" alt=""></span>
        Your Following
        <div class="fr ">
          <div class="fr font14 mt35"><%=@followings.try(:count) %> followings</div>
        </div>
      </div>
    </div>
    <!-- <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Friend" class="searhInput1 following" type="text" id="user">
            <input value="" class="searhSub" type="">
          </form>
        </div>
      </div>
      <div class="following"><%#=render 'following'%></div>      
      <div class="tac preloader "> <img src="/assets/images/preloader.gif" alt=""> </div>
    </div> -->

    <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Community" class="searhInput1 following" type="text" id="community">
            <input value="" class="searhSub" type="">
          </form>
        </div>
      </div>
      <div class="community_following"><%=render partial: "following", locals: {object: @community_following} %></div>      
        <!-- <div class="tac preloader "> <img src="/assets/images/preloader.gif" alt=""> </div> -->
    </div>

    <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Group" class="searhInput1 following" type="text" id="group">
            <input value="" class="searhSub" type="">
          </form>
        </div>
      </div>
      <div class="group_following"><%=render partial: "following", locals: {object: @group_following} %></div>      
      <!-- <div class="tac preloader "> <img src="/assets/images/preloader.gif" alt=""> </div> -->
    </div>

    <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Meeting Room" class="searhInput1 following" type="text" id="meeting_room">
            <input value="" class="searhSub" type="">
          </form>
        </div>
      </div>
      <div class="meeting_room_following"><%=render partial: "following", locals: {object: @meeting_room_following} %></div>      
      <!-- <div class="tac preloader "> <img src="/assets/images/preloader.gif" alt=""> </div> -->
    </div>

    <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Post" class="searhInput1 following" type="text" id="post">
            <input value="" class="searhSub" type="">
          </form>
        </div>
      </div>
      <div class="post_following"><%=render partial: "following", locals: {object: @post_following} %></div>      
      <!-- <div class="tac preloader "> <img src="/assets/images/preloader.gif" alt=""> </div> -->
    </div>
  </div>
</div>
</br>

<script type="text/javascript">
  $(function () {
    $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
  });
</script>