<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/comm.png" alt=""></span>
        Your Connection
        <div class="fr mt-10 ">
          <div class="fr font12">
           <!--  <a href="/communities/new" class="back"><img src="/assets/images/accept.png" alt=""> create Community</a> --><br>
            <div class="fr font14 underLine mt5"> <%=@suggested_connections.size%> <%=@suggested_connections.size>1 ? 'Connections' : 'Connection'%> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac  mt20">
      <div class=" ">
        <div class="formOuter searchFrnd width100per">
          <!-- <form method="post" action=""> -->
            <input placeholder="Search Connections" class="searhInput1 connections" type="text">
            <input value="" class="searhSub" type="">
          <!-- </form> -->
        </div>
      </div>      
      <div class="suggest_connections">        
        <%=render 'users/shared/suggested_connections', suggest: false%>        
      </div>
    </div>    
  </div>
</div>

<script>
  $(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>