<%= content_for(:title, 'Help Center') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/how_it_work">How It Works</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li class="activeMenu"><a href="/help_center">Help Center</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix  innerWIdth550 tac ">
      <div class=" whiteBox col-sm-12">
        <div class="col-sm-12">
          <%= StaticPage.first.help_center.try(:html_safe)%>
          <div class=" loginForm contactForm mt20">
            <span class="success_message" style="display:none;">Your request has been sent successfully !!</span>
            <%= form_for @contact, url: contact_help_path, :html => { class: "form-validate" }, :remote => true do |f| %>

              <div class="clearfix row">
                <div class="pr10 col-sm-6">
                  <%= f.text_field :name, class: "inputText small validate[required]", placeholder: "Name", :maxlength=>"80" %>
                </div>
                <div class="pl10 col-sm-6">
                  <%= f.text_field :phone_no, class: "inputText  validate[required,custom[phone]]", placeholder: "Contact Number", :maxlength=>"80" %>
                </div>
                <div class="col-sm-12">
                  <%= f.text_field :email, class: "inputText validate[required,custom[email]]", placeholder: "Email", :maxlength=>"80" %>
                </div>
                <div class="col-sm-12">
                  <%= f.text_area :body, class: "inputText validate[required]", placeholder: "Message", :maxlength=>"80" %>
                </div>
                <div class="col-sm-12">
                  <%= f.submit "Send", class: 'darkBlueBtn inputSubmit' %>
                </div>
                <div class="clearfix"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".form-validate").validationEngine();
</script>
