<!-- Start Dashboard Center -->
<div class="dashboardCen">
    <div>
    	<!-- <div class="subHd">You have Joined 8 Group</div> -->
        <div class="shadeBox">                        
            <div class="friendList">
                <ul>
                    <%  @users.each do |user|%>
                    <li>
                        <div class="lft"><a  href="<%= profile_path(user)%>"><img src="/assets/images/following_img1.jpg" alt=""></a></div>
                        <div class="rgt">
                            <div class="top">
                                <div class="hd"><%=link_to user.name, profile_path(user) %> | <%= user.address%>, <%= user.country%> </div>
                                <div class="info"><%= user.followers.count%> People Joined | <%= user.created_at.strftime("%Y-%m-%d")%></div>
                                <div class="cheerNow">
                                <span class="following-button-<%= user.id %>">
                                <%if current_user.following?(user)%>
                               <%= link_to "Unfollow", follow_path(:follower_id => user.id), :method => :post , :class=>"transition addFriend", :remote=>true , :style => "display: inline-block;"%>
                               <% else %>
                               <%= link_to "Follow", follow_path(:follower_id => user.id), :method => :post , :class=>"transition addFriend", :remote=>true , :style => "display: inline-block;"%>
                               <% end %>
                               </span>
                               </div>
                            </div>
                        </div>    
                        <div class="clr"></div>
                    </li>
                    <% end %>                               
                </ul>
                <div class="digg_pagination" >                         
              <%= will_paginate @users, :container => false %>
           </div> 
            <%= will_paginate @users %>
            </div>
        </div>
    </div>
</div>
<!-- End Dashboard Center -->
<style type="text/css">
  .pagination{display: none;}
</style>

<% if current_user.present? && current_user.is_client? %>
<style type="text/css">
    .midCon{
    margin-top: 30px !important;
}
</style>
<% end %>