<!-- Header End -->
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>	
  <div class="rightContent">
    <div class="overLAy"></div>
    <%=render 'layouts/topNav'%>	
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/connection.png" alt=""></span>
        Your Connections
        <div class="fr ">
          <a href="#" class="back mt5">add contact</a><br>
          <div class="fr font12 mt5"> <%= current_user.my_friends.try(:count) %> connections</div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Friend" class="searhInput1" type="text">
            <input value="" class="searhSub" type="submit">
          </form>
        </div>
      </div>
       <%@friends.each do |firend|%>
      <div class="clearfix whiteBox connectionRow borderTpBlue">
        <div class="clearfix  cmntRow">
          <div class="clearfix userInfo posRel">
            <div class="clearfix  "></div>
            <a href="<%= profile_path(firend)%>" class="userImg"><img src="<%= firend.try(:img)%>" alt=""></a>
            <a href="<%= profile_path(firend)%>" class="userNAme"> <%=firend.try(:screen_name)%></a> <br>
            <div class="fr grayColor tar"> <%= time_ago_in_words(firend.created_at) %> ago<br>
              <a href="#" class="mt10">Message</a> 
              <br><%= link_to "Remove", unfriend_path(:friend_id => firend.id), :method => :post , :class=>"removeLink", :remote=>true %>
            </div>
            <div class="font13 mt5"><%=designations(firend)%></div>
            <div class="font13">Ltd Lake Hiawatha, New Jersey</div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="tac preloader "> <img src="/assets/images/preloader.gif" alt=""> </div>
    </div>
  </div>
</div>

