<%= content_for(:title, 'Friends') %>
<!-- Header End -->
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>	
  <div class="rightContent">
    <div class="overLAy"></div>
    <%=render 'layouts/topNav'%>	
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/connection.png" alt=""></span>
        Your Connections
        <div class="fr ">
          <a href="#" class="back mt5">add contact</a><br>
          <div class="fr font12 mt5"> <%= current_user.my_friends.try(:count) %> connections</div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550  ">
      <div class="mt20 ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Friend" class="searhInput1 connections" type="text">
            <input value="" class="searhSub" type="submit">
          </form>
        </div>
      </div>
      <div id="friends">
        <%= render 'friendships/friend' %>
      </div>

      <%= will_paginate @friends %>
      <div class="tac preloader " style="display:none;"> <img src="/assets/images/preloader.gif" alt=""> </div>
    </div>
  </div>
</div>

