<div class="commentShow ">
  <div class="clearfix commentSec cmntRow">
    <div class="font14 bold">Please vote for this post through the options</div>
    <div class="vodeSection mt10">
      <a href="<%=favour_path(id: model.id, model: model.class.name, vote: 'for')%>" data-remote=true><span title="" data-toggle="tooltip" class="upVote vote <%= 'activeVote' if current_user.votes.my_vote(model).try(:status)=='for'%>" data-original-title="For"></span></a>
      <a href="<%=favour_path(id: model.id, model: model.class.name, vote: 'against')%>" data-remote=true><span title="" data-toggle="tooltip" class="downVote vote <%= 'activeVote' if current_user.votes.my_vote(model).try(:status)=='against'%>" data-original-title="Against"></span></a>
      
      <%if !model.class.name.include?('Contest')%>
        <a href="<%=favour_path(id: model.id, model: model.class.name, vote: 'undecided')%>" data-remote=true><span title="" data-toggle="tooltip" class="noVote vote <%= 'activeVote' if current_user.votes.my_vote(model).try(:status)=='undecided'%>" data-original-title="Against"></span></a>
      <%end%>
    </div>
    <div>
    </div>
  </div>
</div>
<%@users.each do |user|%>
  <div class="commentShow commentShowScroll" style="overflow-y: hidden;" tabindex="0">
  	<div class="clearfix commentSec cmntRow">
  	  <div class="clearfix userInfo posRel">
  	    <a class="userImg" href="#"><%=image_tag user.img%></a>
  	    <a class="userNAme" href="#"> <%=user.screen_name%></a> <br>
  	    <span class="font13 "> <%=designations(user)%> </span>	    
  	    <div class="fr grayColor tar">     <span class="upVote vote" style="background-position:<%=vote_status(user,model)%>;"></span> <%=time_ago_in_words(user.votes.my_vote(model).updated_at).capitalize%></div>
  	  </div>
  	</div>
  </div>  
<%end if @users%>