
<div class="bodyCont">
<!--  Header Start -->
  <div class="headerBkg"></div>
  <!-- Header End -->
  <div class="loginOuter">
    <div class="loginInner">
      <a href="/" class="logoShadow  wow fadeIn" data-wow-delay="" data-wow-duration="1.5s"> <img src="/assets/images/logoShadow.png"></a>
      <div class="login" >
        <h2>Change your password</h2>
       <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { id: "form-id", method: :put }) do |f| %>
        <div id="error_explanation" class="<%='errorMSg' if devise_error_messages!.include?("error_explanation")  %>">
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        </div>
        <div class="error"></div>
         <div class="field">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", "data-validation-engine"=>"validate[required]", class: "inputTextW small "%>
          </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", "data-validation-engine"=>"validate[required]", class: "inputTextW small " %>
      </div>
        <%= f.submit "Change my password",class: "darkBlueBtn inputSubmit" %>       
        <div class="clearfix"></div>
        <% end %>
      </div>
     <%#= render "users/shared/links" %>
    </div>
  </div>
</div>
