<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <%= f.hidden_field :user_id,:value=>current_user.id %>
  
  <div class="field">
    <%= f.label :title%><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :post_text %><br>
    <%= f.text_area :post_text %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
   <%= f.file_field :file%>
  </div>
  <div class="field">
    <%= f.label :visibility %><br>
    <%= f.select :visibility, [ 'Public', 'Private','Just For My Network','Just For My Connection','Just For My Community', 'Other' ], :prompt => 'Select One' %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br>
    <%= f.text_field :expiration_date,:class=>"datepicker" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
