<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix innerWIdth550 tac ">
      <%= form_for(@post, html: {class: "profile_form"}) do |f| %>
      <% if @post.errors.any? %>
      <div id="error_explanation">
        <!-- <h2><%#= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2> -->
        <ul>
          <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="<%= profile_path(current_user)%>" class="profileImg">
          <%= image_tag current_user.img %>
          </a>
          <div class="nameLocation">
            <a href="<%= profile_path(current_user)%>"><%= current_user.try(:screen_name) %></a><br>
            <span class="location"><%= current_user.try(:profile).try(:country) %></span>
          </div>
        </div>
        <!-- upload assets -->
        <%=f.fields_for :upload do |u|%>
          <div class="tabOuter">
            <div id="tab-1" class="tab-content current">
              <div class="uploadBoxOuter font14">
                <%= hidden_field_tag "image_url", false%>
                <%= hidden_field_tag "file_url", false%>
                <%= u.file_field :image, :value=>u.object.image.url, class: "post post_image", style: "visibility: hidden; width: 1px; height: 1px" ,:onchange => "showimagepreview(this)" %>
                <a href="#"  onclick="$('.post_image').click();">
                  <% if @post.try(:upload).try(:image).present? %>
                    <%= image_tag @post.upload.image_url, id: 'imgprvw' %><%=link_to 'X','#',class: 'remove_image',:style=>'display:none;'%>
                  <% else %>
                    <img src="/assets/images/cemera.png" alt="" id='imgprvw'><%=link_to 'X','#',class: 'remove_image',:style=>'display:none;'%>
                  <% end %>
                </a>
                <div class="grayBig mt20 bold"> 
                  Add an image to bring your post to life
                </div>
                Images that are at least 700 x 400 pixels look best.
              </div>
            </div>
            <div id="tab-2" class="tab-content">
              <div class="uploadBoxOuter font14">
                <img src="/assets/images/website.png" alt="">
                <div class="grayBig bold ">
                  Add Your Website Links
                </div>
                <%=u.url_field :site_link, class: 'inputTextW', placeholder: "http://"%>
              </div>
            </div>
            <div id="tab-3" class="tab-content">
              <div class="uploadBoxOuter font14">
                <%= u.file_field :file, class: "post post_file", style: "visibility: hidden; width: 1px; height: 1px" ,:onchange => "showfilepreview(this)" %>
                <a href="#"  onclick="$('.post_file').click();">
                <img src="/assets/images/link.png" alt="" id='fleprvw'>  <%=link_to 'X','#',class: 'remove_file',:style=>'display:none;'%>
                </a>
                <div class='file_name'>
                </div>
                <div class="grayBig mt0 bold">
                  Upload your Document
                </div>
                Your file needs to be a docx, pdf, ppt, xls, jpg, gif, png<br>
                and no larger than 5MB.
              </div>
            </div>
            <div id="tab-4" class="tab-content">
              <div class="uploadBoxOuter font14"> 
              <img src="/assets/images/videoIcon.png" alt="">
              
              <div class="grayBig bold ">Add Your Video</div>
              <%= u.url_field :video, placeholder: "http://", class: "inputTextW" %><br>

              <div class="mt10">Paste a link from YourTube, Vimeo, Vine etc.</div>
              </div>
            </div>
            <ul class="tabs uploadIcon">
              <li class="tab-link current" data-tab="tab-1">
                <img src="/assets/images/c1.png" alt="">
              </li>
              <li class="tab-link" data-tab="tab-2">
                <img src="/assets/images/c2.png" alt="">
              </li>
              <li class="tab-link" data-tab="tab-3">
                <img src="/assets/images/c3.png" alt="">
              </li>
              <li class="tab-link" data-tab="tab-4">
                <img src="/assets/images/c4.png" alt="">
              </li>
            </ul>
          </div>
        <%end%>
      </div>
      <div class="clearfix whiteBox">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Select Category</label>
            <div class="selctFormBox">              
              <%= f.text_field "category", :value=>select_type(f, "category_id", "Category"), class: "selectInput" ,:id=>'category', name: "category_name_second"%>
              <%= f.select(:category_id, Category.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, class: "select")  %>
            </div>
            <div id="category_name_error"></div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Type Topic</label>
            <!-- <div class="selctFormBox"> -->
            <%#= f.hidden_field :topic_id, :value=>'Select', class: " selectInputField" %>
            <%#= f.text_field "topic_id", :value=>'Select', class: "selectInput" ,:id=>'topic'%>
            <%#= f.select("topic_id", Topic.all.collect {|s| [s.name, s.id]}, {}, class: "select")  %>
            <!-- </div> -->
            <%= f.text_field :topic, :placeholder=>"Topics", :id=>"topic", class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="font20">Write Your Headline</label>
            <%= f.text_field :title, class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class=""><%= f.label "Write Something" %></label>
            <%= f.text_area :description, class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="font16">Select Visibility</label><br>
            <div class="mt5">
              <label class="radioV">  <%= f.radio_button :visibility,true,:checked => true %> Private  </label> &nbsp; &nbsp; <label class="radioV">  <%= f.radio_button :visibility, false %> Public  </label>
            </div>
          </div>
          <label  class="col-sm-12 mt20 block">Set expiration of post </label>
          <div class="col-sm-6  pr10  dateOuter">
            <label>From</label> <%= f.text_field :start_date, placeholder: "DD-MM-YYYY", class: "inputTextW small date start_date" %>
          </div>
          <div class="col-sm-6  pl10 dateOuter">
            <label>To</label><%= f.text_field :expiration_date, placeholder: "DD-MM-YYYY", class: "inputTextW small date end_date" %>
          </div>
          <div class="col-sm-12">
            <%= f.submit "Save Post", class: "blueBtn" %>
            <a href="#" class="grayBtn">Cancel</a>  
          </div>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(".remove_image" ).click(function() {
    // $(".post_image").val('');
    // $("#post_upload_attributes_image").replaceWith($('<input id="post_upload_attributes_image" class="post post_image" type="file" name="post[upload_attributes][image]" onchange="showimagepreview(this)" style="visibility: hidden; width: 1px; height: 1px">'));
    $("#image_url").val(true);
    $('#imgprvw').attr('src', '/assets/images/cemera.png');
    $('.remove_image').hide();
  });
  $(".remove_file" ).click(function() {
    // $("#post_file").val('');
    // $("#post_upload_attributes_file").replaceWith($('<input id="post_upload_attributes_file" class="post post_file" type="file" name="post[upload_attributes][file]" onchange="showfilepreview(this)" style="visibility: hidden; width: 1px; height: 1px">'));
    $( ".file_name" ).html( '' );
    $("#file_url").val(true);
    $('.remove_file').hide();
  });
  
  $('.start_date').datetimepicker({format: 'YYYY-MM-DD',minDate: moment()});
  $('.end_date').datetimepicker({format: 'YYYY-MM-DD',minDate: moment()});
  $(".start_date").on("dp.change", function (selected) {
    $(".end_date").data("DateTimePicker").minDate(selected.date);
  });
  $(".end_date").on("dp.change", function (selected) {
    $(".start_date").data("DateTimePicker").maxDate(selected.date);
  });
</script>

