  <!--  Header Start -->
  <header class="clearfix whiteHeader ">
    <div class="logo wow fadeIn" data-wow-delay="" data-wow-duration="1s">
      <a href="#"> <img src="../assets/images/logoBlue.png" alt=""></a>
    </div>
    <div class="topRightHeader">
      <div class="topRight">
        <a href="#"><img src="../assets/images/noti.png" alt=""><span>20</span></a>
        <a href="#"><img src="../assets/images/email.png" alt=""><span>6</span></a>
        <a href="#"><img src="../assets/images/user.png" alt=""></a>
        <a href="#"><img src="../assets/images/wlt.png" alt=""></a>
        <a href="#" class="wlt">500</a>
        <a href="#"><img src="../assets/images/setting.png" alt=""></a>
      </div>
      <div class="topSearchRight wow fadeIn" data-wow-delay="" data-wow-duration="1s">
        <div class="catLIstLink">
          <a href="#" class="catLIst"><img src="../assets/images/catDrop.png" alt=""></a>
        </div>
        <div class="formOuter">
          <form method="post" action="">
            <input type="text" placeholder="You can also search by keyword, Topic, Peoples..." class="searhInput">
            <input type="submit" value="" class="searhSub">  
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End --> 
  <div class="mainCOntnt">
    <div class="leftNAv">
      <div class="userTHumb">
        <a href="#" class="profileImg"><img src="../assets/images/profile.jpg" alt=""></a>
        <div class="nameLocation">
          <a href="#"><%= current_user.try(:profile).try(:screen_name) %></a>
          <span class="location"><%= current_user.try(:profile).try(:country) %></span>
        </div>
      </div>
      <span class="categories"><img src="../assets/images/tab.png" alt=""> Categories</span>
      <ul>
        <li><a href="#"><img src="../assets/images/li1.png" alt="">Entertainment</a></li>
        <li><a href="#"><img src="../assets/images/li2.png" alt="">Politics</a></li>
        <li><a href="#"><img src="../assets/images/li3.png" alt="">Technology</a></li>
        <li><a href="#"><img src="../assets/images/li4.png" alt="">Sports</a></li>
        <li><a href="#"><img src="../assets/images/li5.png" alt="">Music</a></li>
        <li><a href="#"><img src="../assets/images/li6.png" alt="">Religion &amp; Ideas</a></li>
        <a class="viewAll" href="#"> View All</a>
        <div class="footerLink">
          <a href="#">Terms of Use</a>
          <a href="#">Privacy Policy</a>      
        </div>
      </ul>
    </div>
    <div class="rightContent">
      <div class="overLAy"></div>
      <div class="postCover posRel" style="background-image: url('<%=@post.image.url%>')">
        <div class="postCoverBkg ">
          <div class="clearfix innerWIdth550 posRel">
            <div class="pTitltOuter">
              <div class="postTitle">
                <%= @post.title %>
              </div>
              <a href="#" class="backBtn">Back</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix innerWIdth550 tac ">
        <div class="clearfix whiteBox borderTop mt0 mb10 pb0">
          <div class="clearfix formOuterPost tal padding10-0">
            <div class="col-sm-12 mb10">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="<%= @post.user.img %>" alt=""></a>
                <a href="#" class="userNAme"><%= @post.user.try(:profile).try(:first_name) %></a>
                <br>
                <span class="font13"><%= @designation %></span>
                <div class="fr grayColor tar"><%= time_ago_in_words(@post.created_at.strftime("%d %b")) %><br>
                  <a href="#"><img src="../assets/images/add.png" alt=""></a>
                  <a href="#">Follow</a>
                </div>
              </div>
              <div class="uniOuter">
                <div class="mt20 blackColor ">
                  <p><%= @post.description %></p>
                  <a href="javascript:void(0)" class="listen whiteBtn"><img src="../assets/images/audio38.png" alt=""> Listen this post </a>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="commentSec">
             <span class="grayColor font12"><span class="post_like_count"><%= @post.likes.count%></span> Likes &nbsp; &nbsp; <%= @comments.count %> Comments &nbsp; &nbsp; 468 shares</span>
              <div class="cmntSec">
                <!-- <a href="#"><img src="../assets/images/up.png" alt=""></a> -->
                <%if @post.liked?(current_user)==nil%>
                  <%=link_to image_tag("images/up.png"), post_likes_path(@post), method: :post, remote: true,:class=>'like_image_post_liked'%>
                <%else%>
                  <%=link_to image_tag("images/up.png"), post_likes_path(@post), method: :post, remote: true,:class=>'like_image_post'%>
                <%end%>
                <a href="#"><img src="../assets/images/down1.png" alt=""></a>
                <a href="#" class="shareLInk"><img src="../assets/images/share.png" alt=""></a>
                <a href="#" class="shareArrow"><img src="../assets/images/arrowSmall.png" alt=""></a>
                <input type="button" value="Add Your Comment" class="addCmnt inputTextW small" id="comment_button">
              </div>
            </div>
            <div class="clearfix"></div>
            
              <div id="comments">
                <%= render partial: "comments/comments_view", locals: { comments: @comments } %>
              </div>
            <!-- <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="../assets/images/jack.jpg" alt=""></a>
                <a href="#" class="userNAme"> Jack</a> <br>
                <span class="font13"> Events Coordinator, Designer</span>
                <div class="fr grayColor tar">2 Oct</div>
                <div class="clearfix mt15 font13 blackColor">I agree. I was not impressed with the strategic voting the country implemented. You can't ask people not to vote for their beliefs just to oust someone out.</div>
                <div class="font13 bold blueColor"><a href="#" class="blueColor" >Like </a>| <a href="#" class="blueColor" > Reply</a></div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow comntONcmnt">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="../assets/images/smith.jpg" alt=""></a>
                <a href="#" class="userNAme"> John Smith </a> <br>
                <span class="font13"> Events Coordinator, Designer</span>
                <div class="fr grayColor tar">2 Oct</div>
                <div class="clearfix mt15 font13 blackColor">Exactly! It's a sad and ineffective way to do things.</div>
                <div class="font13 bold blueColor"><a href="#" class="blueColor" >Like </a>| <a href="#" class="blueColor" > Reply</a></div>
              </div>
            </div> -->
            <!-- <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="../assets/images/jack.jpg" alt=""></a>
                <a href="#" class="userNAme"> Jack</a> <br>
                <span class="font13"> Events Coordinator, Designer</span>
                <div class="fr grayColor tar">2 Oct</div>
                <div class="clearfix mt15 font13 blackColor">Good to know that youngs are coming in to stage to get rid of those so
                  called "old rifles"!
                </div>
                <div class="font13 bold blueColor"><a href="#" class="blueColor" >Like </a>| <a href="#" class="blueColor" > Reply</a></div>
              </div>
            </div> -->
            <div id="comment_box">
              <div  class="clearfix commentSec cmntRow">
                <div class="clearfix userInfo posRel">
                  <a href="javascript:;" class="userImg"><img src="<%= current_user.img %>" alt=""></a>
                  <div class="addcomtntTA">
                    <!-- <textarea placeholder="Add Your Comment" class="inputTextW small "></textarea>
                    <input value="Save" class="blueBtn" type="submit">
                    <a href="#" class="grayBtn">Cancel</a>   -->
                    <!-- Start Comment form -->
                    <%= form_for(@comment, remote: true) do |f| %>
                      <div class="field">
                        <%= f.text_area :body, placeholder: "Add Your Comment", id: "comment_body", class: "addCmnt inputTextW small" %>
                        <%= hidden_field_tag :post_id, @post.id %>
                        <%= f.submit "Save", class: "blueBtn", id: "save_comment" %> &nbsp;&nbsp;
                        <a href="javascript:;" class="grayBtn" id="comment_cancel">Cancel</a> 
                      </div>
                    <% end %>
                    <!-- End comment form -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $(function () {
    $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
  });
  $("#comment_cancel").click(function(event) {
    $("#comment_body").val("");
  });
  $("#comments").hide();
  $("#comment_box").hide();
  $("#comment_button").click(function(event) {
    event.preventDefault();
    $("#comments").toggle();
    $("#comment_box").toggle();
    $("html, body").scrollTop($('#comment_box').offset().top);
  });
  $("#save_comment").click(function(event) {
    event.preventDefault();
    if ($("#comment_body").val() == ""){
      event.preventDefault();
    }
    else {
      $.ajax({
        type: "post",
        dataType: "script",
        url: "/comments",
        data: {"comment[body]": $("#comment_body").val(), post_id: $("#post_id").val() }
      });
    }
  });
</script>