<div class="bodyCont">      
  <div class="mainCOntnt"> 
    <%= render "layouts/left_panel"%>
    <div class="rightContent">
      <div class="overLAy"></div>
      <div class="topNAv">
        <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
        <%=render "layouts/topNav"%>        
      </div>
      <div class="clearfix innerWIdth innerWIdth860 tac ">
        <div class="catOuter">
          <div class="row">
            <% @categories.each do |category| %>
              <div class="col-sm-3">
                <a href="<%= category_path(category)%>">
                <%= image_tag category.image.url(:thumb) rescue nil%>
                  <span><%= category.name %></span>
                </a>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>