<div class="bodyCont">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">    
    <div class="postCover posRel catCover" style="background-image: url(<%=@category.image.url%>);">
      <div class="postCoverBkg ">
        <div class="clearfix innerWIdth550 posRel">
          <div class="pTitltOuter">
            <div class="postTitle tac"><%= @category.name.try(:capitalize) %></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="blueBkg myWall">
      <div class="clearfix innerWIdth550">
        <div class="userTHumb">
          <a href="#" class="profileImg"><%=image_tag @category.image.url%></a>
          <div class="nameLocation">
            <a href="#" class="font22"><%= @category.name %></a>
          </div>
        </div>        
      </div>
    </div> -->
    <div class="clearfix innerWIdth550 tac ">
      <a href="/posts/new" class="addPostBtn">Add posts</a>

     <div id="posts">
        <%=render "users/post"%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('.date').datetimepicker( {format: 'YYYY-MM-DD'});
  });

  function comment_body(id) {
    $("#comments_"+id).toggle();
    $("#comment_box_"+id).toggle();
    $("html, body").scrollTop($('#comment_box_'+id).offset().top);
  }
</script>
