<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/comm.png" alt=""></span>
        Your Community
        <%= link_to 'Back', :back, :class=>"back" %>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <%= form_for(@community) do |f| %>
      <% if @community.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@community.errors.count, "error") %> prohibited this community from being saved:</h2>
        <ul>
          <% @community.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="#" class="profileImg"><img src="<%= current_user.img %>" alt=""></a>
          <div class="nameLocation">
            <a href="#"><%= current_user.profile.try(:screen_name) %></a><br>
            <span class="location"><%= current_user.profile.try(:country) %></span>
          </div>
        </div>
        <div class="uploadBoxOuter font14">
          <%=f.fields_for :upload do |u|%>
          <div class="tabOuter">
            <div id="tab-1" class="tab-content current">
              <div class="uploadBoxOuter font14">
                <%= u.file_field :image, class: "post post_image", style: "visibility: hidden; width: 1px; height: 1px" ,:onchange => "showimagepreview(this)" %>
                <a href="#"  onclick="$('.post_image').click();">
                <% if @community.try(:upload).try(:image).present? %>
                <%= image_tag @community.upload.image_url, id: 'imgprvw' %><%=link_to 'X','#',class: 'remove_image',:style=>'display:none;'%>
                <% else %>  
                <img src="/assets/images/cemera.png" alt="" id='imgprvw'><%=link_to 'X','#',class: 'remove_image',:style=>'display:none;'%>
                <% end %>
                </a>
                <div class="grayBig mt20 bold"> 
                  Add an image to bring your post to life
                </div>
                Images that are at least 700 x 400 pixels look best.
              </div>
            </div>
          </div>
          <%end%>
        </div>
        <!-- container -->
      </div>
      <div class="clearfix whiteBox">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Select Category</label>
            <div class="selctFormBox">
              <%= f.hidden_field :category_id, :value=>'Select', class: " selectInputField" %>
              <%= f.text_field "category_id", :value=>'Select', class: "selectInput" ,:id=>'category'%>
              <%= f.select("category_id", Category.all.collect {|s| [s.name, s.id]}, {}, class: "select")  %>
            </div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Type Topic</label>
            <%= f.text_field :topic, placeholder: "Topics", class: "inputTextW small"%>
          </div>
          <div class="col-sm-12">
            <label class="font20">Write Your Headline</label>
            <%= f.text_field :headline, class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="">Slogan of Community </label>
            <%= f.text_field :slogan,class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="">Write Something</label>
            <%= f.text_area :description, class: "inputTextW small" %>
          </div>
          <div class="col-sm-12   pr10  ">
            <label>Invite Friends</label> 
             <div class="selctFormBox">
             <%= f.select(:members, @friends.collect {|s| [s.screen_name, s.id]}, {}, class: "select", id: "dropdown", :multiple => true)  %>
<!--             <input type="text"  class="inputTextW small ">
 -->          </div>
          </div>
          <div class="col-sm-12">
            <%= f.submit "Create Community", class: "blueBtn" %>
            <a href="#" class="grayBtn">Cancel</a> 
          </div>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $( "#dropdown" ).select2({
});

</script>
