<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/comm.png" alt=""></span>
        Your Community
        <div class="fr mt-10 ">
          <div class="fr font12">
            <a href="/communities/new" class="back"><img src="/assets/images/accept.png" alt=""> create Community</a><br>
            <div class="fr font14 underLine mt5"> <%=@communities.size%> <%= @communities.size <=1 ? "Community" : "Communities"%></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac  mt20">
      <div class=" ">
        <div class="formOuter searchFrnd width100per">
        <!-- start change code- kandarp -->
          <%= form_tag communities_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Communities", class: "searhInput1" %>
              <%= submit_tag "", class: "searhSub" %>
          <% end %>
          <!-- <form method="post" action="">
            <input placeholder="Search Communities" class="searhInput1" type="text">
            <input value="" class="searhSub" type="submit">
          </form> -->
        <!-- end change code- kandarp -->
        </div>
      </div>
      <div class="clearfix grpOuter">
        <%@communities.each do |community|%>
          <div class="whiteBox borderTop  col-sm-6 pb0  fl">
            <% if current_user && current_user == community.user %>
              <div class="editDlt  dropdown">
                <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
                <ul class="dropdown-menu">
                  <li><%=link_to "Edit", edit_community_path(community)%></li>
                  <li><%=link_to "Delete", community_path(community), method: :delete, data: { confirm: 'Are you sure?' }%></li>
                </ul>
              </div>
            <% end %>
            <a href="<%=community_path(community)%>" class="block mt20 grpImg"> <%=image_tag community.img%> </a>
            <a href="<%=community_path(community)%>" class="block groupName width"><%=community.topic%></a>
            <div class="virwJoinBtn">
              <a class="btmBtn" href="#"> <%= community.members.try(:count)%> Members</a>
              <a class="btmBtn" href="#" > 0 Discussion </a>
            </div>
          </div>
        <%end%>  
      </div>
      <div class="clearfix whiteBox borderTop mt20 mb20  pb0">
        <div class="clearfix conversationTop borderBtm">
          <span class="bold grayColor">See anyone you know? <span class="font13 blackColor">Connect with them</span></span>
          <div class="fr"> <a href="#" class="grayColor">See More Connection <img src="/assets/images/rightArrow.jpg" alt=""></a> </div>
        </div>
        <div class="connectionOuter ">
          <div class="col-sm-6 borderRight">
            <a href="#"> <img src="/assets/images/user1.jpg" alt=""> <span>H. Peter Curran</span></a>
            <div class="dsignation">Appraiser, Art, Antiques,
              Deconstruction 
            </div>
            <a href="#" class="whiteBtn"> Connect </a> 
          </div>
          <div class="col-sm-6">
            <a href="#"> <img src="/assets/images/user2.jpg" alt=""> <span>Trip Spencer</span></a>
            <div class="dsignation">Director</div>
            <a href="#" class="whiteBtn"> Connect </a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>