<%= content_for(:title, 'Communities') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">    
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/comm.png" alt=""></span>
        Your Community
        <div class="fr mt-10 ">
          <div class="fr font12">
            <a href="/communities/new" class="back"><img src="/assets/images/accept.png" alt=""> Create Community</a><br>
            <div class="fr font14 underLine mt5"> <%=@communities.size%> <%= @communities.size <=1 ? "Community" : "Communities"%></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac  mt20">
      <div class=" ">
        <div class="formOuter searchFrnd width100per">
        <!-- Form for searching community -->
          <%= form_tag communities_path, :method => 'get' do %>
              <%= text_field_tag :data, params[:data], placeholder: "Search Communities", class: "searhInput1 communities" %>
              <%= submit_tag "", class: "searhSub" %>
          <% end %>
          <!-- Form for searching community -->
        </div>
      </div>
      <div class="clearfix grpOuter" id="communities">
        <%= render partial: "communities", locals: {communities: @communities} %>
      </div> 
    </div>
  </div>
</div>

<script>
  $(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>