<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix blueBkg meetingRoomTOp">
      <div class="innerWIdth550">
        <span><img src="/assets/images/gp.jpg" alt=""></span>
        <div class="mtngTitle font18 mt10Final">
          <%= @community.try(:headline)%>
          <div class="font14">professionals group</div>
        </div>
        <div class="fr font12">
          <a href="<%= leave_community_path(@community)%>" class="back hoverOut" data-method ="post"><img src="/assets/images/accept.png" alt="" ><b> member</b></a><br>
          <% if current_user != @community.user %>
            <span id="following-button-span-<%= @community.id %>" class="user-folowed-<%=@community.id %>">
              <%= render :partial=> "users/follow_link", :locals => {:object => @community} if user_signed_in?%>
            </span>
          <% end %>

          <div class="fr font14">  <%= @community.members.try(:count)%> <%= @community.members.try(:count) <= 1 ? 'member' : 'members'%></div>
        </div>
      </div>
    </div>
    <%= render 'posts/polymorphic_form', object: @community%>
    <div class="clearfix innerWIdth550 tac ">
      <!-- <a href="/posts/new" class="addPostBtn"><%#=params[:data] ? 'CREATE TOPICS' : 'ADD POSTS'%></a> -->
      <div id="posts" class="masonry-container">
        <%=render "users/post"%>
      </div> 
      <!-- <div class="suggest_connections">
        <%#=render 'users/shared/suggested_connections', suggest: true%>        
      </div>
      <div class="clearfix grpOuter suggest_communities">
        <%#=render 'users/shared/suggested_communities', suggest: true%>
      </div>
      <div class="clearfix grpOuter suggest_groups">
        <%#=render 'users/shared/suggested_groups', suggest: true%>
      </div> -->
    </div>
  </div>
</div>
