<%= content_for(:title, @forum_poll.new_record? ? 'New Forum Poll' : @forum_poll.try(:topic).try(:capitalize)) %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/foramPoll.png" alt=""></span>
        Your Forum Poll
        <%= link_to 'Back', :back, :class=>"back" %>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <%= form_for(@forum_poll, html: {class: "profile_form", :id => "form-id"}) do |f| %>
      <% if @forum_poll.errors.any? %>
      <div id="error_explanation">
        <!-- <h2><%#= pluralize(@forum_poll.errors.count, "error") %> prohibited this forum_poll from being saved:</h2> -->
        <ul>
          <% @forum_poll.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="#" class="profileImg"><img src="/assets/images/profile.png" alt=""></a>
          <div class="nameLocation">
            <a href="#"><%= current_user.try(:profile).try(:screen_name) %></a><br>
            <span class="location"><%= current_user.try(:profile).try(:country).try(:name) %></span>
          </div>
        </div>
        <%=render 'layouts/shared/upload', f: f, obj: @forum_poll%>
        <!-- container -->
      </div>
      <div class="clearfix whiteBox">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Categories</label>
            <div class="selctFormBox">
              <%= f.hidden_field :category_id, :value=>select_type(f, "category_id", "Category"), class: " selectInputField" %>
              <%= f.text_field "category_id", :value=>select_type(f, "category_id", "Category"), class: "selectInput" ,:id=>'category', name: "category_name_second" %>
              <%= f.select("category_id", Category.all.collect {|s| [s.name, s.id]}, {:include_blank => "Select"}, "data-validation-engine"=>"validate[required]", class: "select")  %>
            </div>
            <div id="category_name_error"></div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Topic</label>
            <%= f.text_field :topic, "data-validation-engine"=>"validate[required,maxSize[80]]", class: "inputTextW small", placeholder: "Topic"%>
          </div>
          <div class="col-sm-12">
            <label class="font20">Headline</label>
            <%= f.text_field :headline, "data-validation-engine"=>"validate[required,maxSize[360]]", class: "inputTextW small", placeholder: "Write headline here...." %>
          </div>
          <div class="col-sm-12">
            <label class="">Description</label>
            <%= f.text_area :body,:class=>"inputTextW small", placeholder: "Write description here...." %>
          </div>
          <div class="col-sm-12">
            <label class="font16">Select Visibility</label><br>
            <div class="mt5">
              <label class="radioV">  <%= f.radio_button :visibility,false %> Private  </label> &nbsp; &nbsp; <label class="radioV">  <%= f.radio_button :visibility, true, checked: true %> Public  </label>
            </div>
          </div>
          <div class="col-sm-12 mt10">
            <label class="">Invite Users</label>
            <%= f.select(:members, @users.collect {|s| [s.screen_name, s.id]}, {}, class: "select", id: "dropdown", :multiple => true)  %>

            <!-- <input type="text" placeholder="" class="inputTextW small"> -->
          </div>
          <label  class="col-sm-12 mt20 block">Set expiration of post </label>
          <div class="col-sm-6  pr10  dateOuter">
            <label>From</label>
            <%= f.text_field :start_date, placeholder: "DD-MM-YYYY", "data-validation-engine"=>"validate[required]", class: "inputTextW small date start_date" %>
          </div>
          <div class="col-sm-6  pl10 dateOuter">
            <label>To</label><%= f.text_field :end_date,placeholder: "DD-MM-YYYY", "data-validation-engine"=>"validate[required]", class: "inputTextW small date end_date" %>
          </div>
          <div class="clearfix"></div>
          <!-- <div class="col-sm-6 mt10 pr10"> -->
            <!-- <label>Vote Type</label> -->
            <!-- <div class="selctFormBox"> -->
              <%#= f.hidden_field :vote_id, :value=>'Against', class: " selectInputField" %>
              <%#= f.text_field "vote_id", :value=>'Against', class: "selectInput" ,:id=>'vote'%>
              <%#= f.select("vote_id", Vote.all.collect {|s| [s.name, s.id]}, {}, class: "select")  %>
              <!-- </select> -->
            <!-- </div> -->
          <!-- </div> -->
          <div class="col-sm-12 mt10">
            <%= f.submit "Save Poll", class: "blueBtn common_submit" %>
            <a href="/dashboard" class="grayBtn">Cancel</a>
          </div>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function(){
    if ($(".start_date").val() != "") {
      $('.end_date').data("DateTimePicker").minDate($(".start_date").val());
    } else{
      $('.end_date').datetimepicker({format: 'YYYY-MM-DD',minDate: moment()});
    }
    $(".start_date").data("DateTimePicker").minDate(new Date());
    $(".end_date").data("DateTimePicker").minDate(new Date());
    $(".start_date").on("dp.change", function (selected) {
      $(".end_date").data("DateTimePicker").minDate(selected.date);
    });
    $(".end_date").on("dp.change", function (selected) {
      $(".start_date").data("DateTimePicker").maxDate(selected.date);
    });
  });
</script>

<%if @forum_poll.id.present? %>
  <script type="text/javascript">
    $( "#dropdown" ).select2().select2('val',<%=  @forum_poll.members.collect(&:user_id) %>)
  </script>
<% else %>
  <script type="text/javascript">
    $( "#dropdown" ).select2({placeholder: "Select members" });
  </script>
<% end %>
