<!-- Showing all forum polls -->
<%forum_polls.each do |poll|%>
  <div class="whiteBox borderTop  col-sm-6 pb0  fl">
    <% if current_user && current_user == poll.user %>
      <div class="editDlt  dropdown">
        <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
        <ul class="dropdown-menu">              
          <li><%=link_to "Edit", edit_forum_poll_path(poll)%></li>
          <li><%=link_to "Delete", forum_poll_path(poll), method: :delete, data: { confirm: 'Are you sure?' }%></li>
        </ul>
      </div>
    <% end %>
    <a href="<%=forum_poll_path(poll)%>" class="pollImgOuter mt20"><%=image_tag poll.img%></a>
    <a href="<%=forum_poll_path(poll)%>" class="block groupName width"><%=poll.topic%></a>
    <div class="virwJoinBtn">
      <a class="btmBtn" href="<%=forum_poll_path(poll)%>"><%=expireDate(poll.end_date) if poll.end_date%></a>      
      <a class="btmBtn" href="<%=forum_poll_path(poll)%>" > <%=poll.votes.size%> <%=poll.votes.size>1 ? 'Votes' : 'Vote'%> </a>
    </div>
  </div>
<%end%>
<!-- Showing all forum polls -->