

<!--  Header Start -->
<header class="clearfix whiteHeader ">
  <div class="logo wow fadeIn" data-wow-delay="" data-wow-duration="1s">
    <a href="#"> <img src="/assets/images/logoBlue.png" alt=""></a>
  </div>
  <div class="topRightHeader">
    <div class="topRight">
      <a href="#"><img src="/assets/images/noti.png" alt=""><span>20</span></a>
      <a href="#"><img src="/assets/images/email.png" alt=""><span>6</span></a>
      <a href="#"><img src="/assets/images/user.png" alt=""></a>
      <a href="#"><img src="/assets/images/wlt.png" alt=""></a>
      <a href="#" class="wlt">500</a>
      <a href="#"><img src="/assets/images/setting.png" alt=""></a>
    </div>
    <div class="topSearchRight wow fadeIn" data-wow-delay="" data-wow-duration="1s">
      <div class="catLIstLink">
        <a href="#" class="catLIst"><img src="/assets/images/catDrop.png" alt=""></a>
      </div>
      <div class="formOuter">
        <form method="post" action="">
          <input type="text" placeholder="You can also search by keyword, Topic, Peoples..." class="searhInput">
          <input type="submit" value="" class="searhSub">  
        </form>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
<div class="mainCOntnt">
  <div class="leftNAv">
    <div class="userTHumb">
      <a href="#" class="profileImg"><img src="/assets/images/profile.jpg" alt=""></a>
      <div class="nameLocation">
        <a href="#"><%= current_user.try(:profile).try(:screen_name) %></a>
        <span class="location"><%= current_user.try(:profile).try(:country) %></span>
      </div>
    </div>
    <span class="categories"><img src="/assets/images/tab.png" alt=""> Categories</span>
    <ul>
      <li><a href="#"><img src="/assets/images/li1.png" alt="">Entertainment</a></li>
      <li><a href="#"><img src="/assets/images/li2.png" alt="">Politics</a></li>
      <li><a href="#"><img src="/assets/images/li3.png" alt="">Technology</a></li>
      <li><a href="#"><img src="/assets/images/li4.png" alt="">Sports</a></li>
      <li><a href="#"><img src="/assets/images/li5.png" alt="">Music</a></li>
      <li><a href="#"><img src="/assets/images/li6.png" alt="">Religion &amp; Ideas</a></li>
      <a class="viewAll" href="#"> View All</a>
      <div class="footerLink">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>      
      </div>
    </ul>
  </div>
  <div class="rightContent">
    <div class="overLAy"></div>
    <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li class="activeMenu"><a href="#">News Feed</a></li>
          <li><a href="#">Hot Topics</a></li>
          <li><a href="#">Followers (25)</a></li>
          <li><a href="#">Following (100)</a></li>
          <li><a href="#">More <img src="/assets/images/arrowBlack.png" alt=""> </a></li>
        </ul>
      </div>
    </div>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/foramPoll.png" alt=""></span>
        Your Forum Poll
        <%= link_to 'Back', :back, :class=>"back" %>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <%= form_for(@forum_poll, html: {class: "profile_form"}) do |f| %>
      <% if @forum_poll.errors.any? %>
      <div id="error_explanation">
        <!-- <h2><%#= pluralize(@forum_poll.errors.count, "error") %> prohibited this forum_poll from being saved:</h2> -->
        <ul>
          <% @forum_poll.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="#" class="profileImg"><img src="/assets/images/profile.jpg" alt=""></a>
          <div class="nameLocation">
            <a href="#"><%= current_user.try(:profile).try(:screen_name) %></a><br>
            <span class="location"><%= current_user.try(:profile).try(:country) %></span>
          </div>
        </div>
        <%=render 'layouts/shared/upload', f: f, obj: @forum_poll%>
        <!-- container -->
      </div>
      <div class="clearfix whiteBox">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Select Category</label>
            <div class="selctFormBox">
              <%= f.hidden_field :category_id, :value=>'Select', class: " selectInputField" %>
              <%= f.text_field "category_id", :value=>'Select', class: "selectInput" ,:id=>'category'%>
              <%= f.select("category_id", Category.all.collect {|s| [s.name, s.id]}, {}, class: "select")  %>
            </div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Type Topic</label>
            <%= f.text_field :topic, placeholder: "Topics", class: "inputTextW small"%>
          </div>
          <div class="col-sm-12">
            <label class="font20">Write Your Headline</label>
            <%= f.text_field :headline, class: "inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="">Write Something</label>
            <%= f.text_area :body,:class=>"inputTextW small" %>
          </div>
          <div class="col-sm-12">
            <label class="font16">Select Visibility</label><br>
            <div class="mt5">
              <label class="radioV">  <%= f.radio_button :visibility,true,:checked => true %> Private  </label> &nbsp; &nbsp; <label class="radioV">  <%= f.radio_button :visibility, false %> Public  </label>
            </div>
          </div>
          <div class="col-sm-12 mt10">
            <label class="">Invite Users / Community</label>
            <input type="text" placeholder="" class="inputTextW small">
          </div>
          <label  class="col-sm-12 mt20 block">Set expiration of post </label>
          <div class="col-sm-6  pr10  dateOuter">
            <label>From</label>
            <%= f.text_field :start_date, placeholder: "DD-MM-YYYY", class: "inputTextW small date" %>
          </div>
          <div class="col-sm-6  pl10 dateOuter">
            <label>To</label><%= f.text_field :end_date,placeholder: "DD-MM-YYYY", class: "inputTextW small date" %>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-6 mt10 pr10">
            <label>Vote Type</label>
            <div class="selctFormBox">
              <%= f.hidden_field :vote_id, :value=>'Against', class: " selectInputField" %>
              <%= f.text_field "vote_id", :value=>'Against', class: "selectInput" ,:id=>'vote'%>
              <%= f.select("vote_id", Vote.all.collect {|s| [s.name, s.id]}, {}, class: "select")  %>
              </select>
            </div>
          </div>
          <div class="col-sm-12 mt10">
            <%= f.submit "Create Poll", class: "blueBtn" %>
            <a href="#" class="grayBtn">Cancel</a>
          </div>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>

