<div class="midCon textureBg">
<%= link_to 'Click To Create New Forum Poll ', new_forum_poll_path,:class=>'replyBtn' %>
  <div class="responsive">
    <div class="virtualCatCon clearfix">
      <div class="subHd"><%= t('pages.index.all_forum_polls')%></div>
      <div class="shadeBox reviewTable listingtble">
        <table cellpadding="0" cellspacing="0">
          <tr class="hd">
            <td width="10%"><%= t('pages.index.category')%></td>
            <td width="10%"><%= t('pages.index.topic')%></td>
            <td width="10%"><%= t('pages.index.visibility')%></td>
          
             <td width="10%"><%= t('pages.index.start_date')%></td>
            <td width="20%"><%= t('pages.index.end_date')%></td>
            <td width="20%"><%= t('pages.index.more_detail')%></td>
            <td width="20%"><%= t('pages.index.edit')%></td>
            <td width="20%"><%= t('pages.index.delete')%></td>
          </tr>

  <tbody>
      <tr>
    
       <% @forum_polls.each do |forum_poll| %>
      <tr>
       <td><%= forum_poll.category.name%></td>
        <td><%= forum_poll.topic.try(:name) %></td>
        <td><%= forum_poll.visibility %></td>
        <td><%= forum_poll.start_date.strftime(" %m/%d/%Y") %></td>
        <td><%= forum_poll.end_date.strftime(" %m/%d/%Y") %></td>
       <td><%= link_to 'More Detail', forum_poll %></td>
        <%if forum_poll.user_id==current_user.id%>
          <td><%= link_to 'Edit', edit_forum_poll_path(forum_poll) %></td>
          <td><%= link_to 'Destroy', forum_poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
  </div>
</div>
<br>



