<!-- Showing forum poll -->
<%= content_for(:title, @forum_poll.try(:topic).try(:capitalize)) %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix blueBkg meetingRoomTOp">
      <div class="innerWIdth550">
        <span><%= image_tag @forum_poll.img %></span>
        <div class="mtngTitle">
          <%= @forum_poll.try(:topic) %>
          (<%= @forum_poll.start_date.present? ? @forum_poll.start_date.strftime("%m/%d") : "" %> - <%= @forum_poll.end_date.present? ? @forum_poll.end_date.strftime("%m/%d") : ""%>)
        </div>
        <div class="fr font12">
          <a href="<%= leave_forum_poll_path(@forum_poll)%>" class="back hoverOut" data-method ="post"><img src="/assets/images/accept.png" alt="" ><b> member</b></a><br>
          <% if current_user != @forum_poll.user %>
            <span id="following-button-span-<%= @forum_poll.id %>" class="user-folowed-<%=@forum_poll.id %>">
              <%= render :partial=> "users/follow_link", :locals => {:object => @forum_poll} if user_signed_in?%>
            </span>
          <% end %>
          <div class="fr font14"> <%= @forum_poll.members.count %> <%= @forum_poll.members.count>1 ? "Members" : "Member" %></div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac  mt20">
      <div class="clearfix whiteBox borderTop mt0 mb10 pb0">
        <div class="clearfix formOuterPost tal padding10-0">
          <div class="col-sm-12 mb10">
            <div class="blackHD font20"><%=@forum_poll.headline %> (<%= @forum_poll.start_date.present? ? @forum_poll.start_date.strftime("%m/%d") : "" %> - <%= @forum_poll.end_date.present? ? @forum_poll.end_date.strftime("%m/%d") : "" %>)</div>
            <div class="bold font15 mtb10">
              <span class="upVote vote" data-toggle="tooltip" title="For"></span> <span class="favour"> <%=@forum_poll.votes.favour.size rescue 0%></span>  &nbsp;
              <span class="downVote vote" data-toggle="tooltip" title="Againest"></span> <span class="against"> <%=@forum_poll.votes.against.size rescue 0%></span> &nbsp;
              <span class="noVote vote" data-toggle="tooltip" title="Undecided"></span>  <span class="undecided"> <%=@forum_poll.votes.undecided.size rescue 0%></span> 
              <span class="fr <%=expireDate(@forum_poll.end_date).eql?("Expired") ? 'redColor' : 'blueColor' %> frNone"><%=expireDate(@forum_poll.end_date) %></span>
            </div>
            <%= image_tag @forum_poll.img, class: "fullWdth mtb10" %>
            <div class="uniOuter">
              <div class=" blackColor ">
                <%= @forum_poll.try(:description) %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="contest_vote">
            <%=render 'votes/shared/voted_users', model: @forum_poll %>
          </div>
          <!-- <div class="commentShow ">
            <div class="clearfix commentSec cmntRow">
              <div class="font14 bold">Please vote for this post through the options</div>
              <div class="vodeSection mt10">  
                <span class="upVote vote" data-toggle="tooltip" title="For"></span>
                <span class="downVote vote" data-toggle="tooltip" title="Against"></span>
                <span class="noVote vote" data-toggle="tooltip" title="Undecided"></span>
              </div>
              <div >
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Showing forum poll -->

<script>
$(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>