<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>:: TGS ::</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <% if (request.user_agent =~ /Mobile|webOS/) || (request.user_agent =~ /iPad/) %>
          <script src="../assets/js/jquery.nicescroll.min"></script>
      <% end %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%if notice%><%=render 'layouts/success', :@success=>notice%><%end%>
    <%if alert%><%=render 'layouts/alert', :@alert=>alert%><%end%>
    <div class="popup-success"></div>
    <div class="bodyCont">      
      <%if user_signed_in? && !request.url.include?("admin")%>
        <%=render 'layouts/new_header'%>        
      <%elsif request.url.include?("sign") || request.url.include?("password") || params[:controller]=="registrations"%>
        <%#=render 'layouts/header'%>      
      <%elsif request.url.include?("admin")%>
        <%#=render 'layouts/header'%>
      <%else%>
        <%=render 'layouts/header'%>
      <%end%>  
      <div class="<%= class_container %>">
        <%if user_signed_in? && (params[:controller] =="home" &&  params[:action]!="index")%>
          <%= render "layouts/left_panel"%>
        <% end %>
        <%= yield %>
      </div>
      <%if action_exist?%>
        <%= render "layouts/footer" if !user_signed_in? %>
      <% end %>
    </div>    
  </body>
</html>
<script src="/assets/posts.js"></script>


<script type="text/javascript">
  $(function() {
      var tId;
    $(".popupmsg").hide().slideDown();
    clearTimeout(tId);
    tId=setTimeout(function(){
      $(".popupmsg").hide();        
    }, 5000);
        // setTimeout() function will be fired after page is loaded
        // it will wait for 5 sec. and then will fire
        // $("#successMessage").hide() function       
    });
</script>
