<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">
      <title>:: TGS ::</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <% if mobile_device? %>
          <script src="../assets/js/jquery.nicescroll.min.js"></script>
      <% end %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%if notice%><%=render 'layouts/success', :@success=>notice%><%end%>
    <%if alert%><%=render 'layouts/alert', :@alert=>alert%><%end%>
    <%if flash[:alert].present? %><%=render 'layouts/alert', :@alert=>flash[:alert]%><%end%>
    <%if flash[:success].present? %><%=render 'layouts/success', :@success=>flash[:success]%><%end%>
    <div class="popup-success"></div>
    <div class="bodyCont">      
      <%if user_signed_in? && !request.url.include?("admin")%>
        
        <div id='new_header'>
          <%=render 'layouts/new_header'%>              
        </div>
        <%= subscribe_to "/profiles/new_#{current_user.id}" %>
      <%elsif request.url.include?("sign") || request.url.include?("password") || params[:controller]=="registrations"%>
        <%#=render 'layouts/header'%>      
      <%elsif request.url.include?("admin")%>
        <%#=render 'layouts/header'%>
      <%else%>
        <%=render 'layouts/header'%>
      <%end%>  
      <div class="<%= class_container %>">
        <%if user_signed_in? && (params[:controller] =="home" &&  params[:action]!="index")%>
          <%= render "layouts/left_panel"%>
        <% end %>
        <%= yield %>
      </div>
      <%if action_exist?%>
        <%= render "layouts/footer" if !user_signed_in? %>
      <% end %>
    </div>    
  </body>
</html>
<div class="ajax-loading">
    <span>
      <p id="please_wait"><strong>Please wait..</strong></p>
      <p><i class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true"></i></p>
    </span>
  </div>
<script src="/assets/posts.js"></script>

<script type="text/javascript">
    $(window).load(function() {
      setTimeout(function(){
      $(".popupmsg").hide();        
    }, 5000);
          
    });
</script>
