<!-- Privacy & Setting Page -->
<%= content_for(:title, 'Privacy & Settings') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix innerWIdth550 tac ">
      <div class="whiteBox mt90">
        <div class="userTHumb userTHumbRight">
          <a href="<%=edit_profile_path(current_user)%>" class="profileImg"><%= image_tag current_user.try(:img) %></a>
          <div class="nameLocation">
            <a href="<%=edit_profile_path(current_user)%>"><%= current_user.try(:screen_name) %> <%= current_user.try(:last_name) %></a><br>
            <span class="location"><%= current_user.try(:profile).try(:country).try(:name) %></span>
          </div>
        </div>
        <!-- container -->
        <div class="clearfix formOuterPost mt20 tal">
          <div class="col-sm-12 ">
            <label class="font16">Screen Name: &nbsp; <span class="disName"><%= current_user.try(:screen_name) %></span></label>
          </div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="col-sm-12  mt10">
              <!-- <label>Password</label>
              <%= f.password_field :current_password, autocomplete: "off", placeholder: "Old Password", class: "inputTextW small"%> -->
              <%= f.password_field :password, autocomplete: "off", placeholder: "New Password", class: "inputTextW small" %>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "inputTextW small" %>
            </div>
            <div class="col-sm-12 mt5">
              <label>Primary Email</label>
              <%= f.email_field :email, value:"#{current_user.email}", class: "inputTextW small",  :placeholder => "Email" %>
            </div>
            <!-- <div class="col-sm-12">
              <input type="submit" value="Save" class="blueBtn">
            </div> -->
<!-- 
            <%=f.fields_for :profile do |p|%>
              <div class="col-sm-12 mt5">
                <label class="">Phone Numbers</label>
                <%= p.text_field :phone_no, value:"#{current_user.profile.phone_no}", class: "inputTextW small", :placeholder => "Phone Number"%>
              </div>
            <% end %> -->
            <div class="col-sm-12 mt15">
              <input type="submit" value="Save" class="blueBtn">
              <a href="/dashboard" class="grayBtn">Cancel</a>
            </div>
            <% end %>

        </div>
      </div>
      <div class="whiteBox mb10 ">
        <!-- container -->
        <!-- Notification setting -->
        <div class="clearfix formOuterPost  tal">
          <div class="blackHD tal col-sm-12 font16">Notifications</div>
          <%= nested_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|  %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :screen_name %>
            <% notification_setting = resource.notification_setting.present? ? resource.notification_setting : resource.build_notification_setting %>
            <%= f.fields_for :notification_setting ,notification_setting do |task_form| %>
              <div class="col-sm-12 mt15">
                <label class="radioV"> <%= task_form.check_box :new_update, :class=>"ch"%> Notify me for NEW updates </label>
              </div>
              <div class="col-sm-12 ">
                <label class="radioV"><%= task_form.check_box :friend_request, :class=>"ch"%> Notify me for friendship requests </label>
              </div>
              <div class="col-sm-12 ">
                <label class="radioV"> <%= task_form.check_box :comments_and_like, :class=>"ch"%> Notify me of comments and like</label>
              </div>
              <div class="col-sm-12 ">
                <label class="radioV"><%= task_form.check_box :friends_birthday, :class=>"ch"%> Send me special notification on birthday of my friends  </label>
              </div>
            <% end %>
            <div class="col-sm-12 mt15">
              <input type="submit" value="Save" class="blueBtn">
            </div>
          <% end %>
        </div>
        <!-- Notification setting -->
      </div>
    </div>
  </div>
</div>
<!-- Privacy & Setting Page -->
