<div class="bodyCont">
  <!--  Header Start -->
  <div class="headerBkg"></div>
  <!-- Header End -->
  <div class="loginOuter">
    <div class="loginInner">
      <a href="/" class="logoShadow  wow fadeIn" data-wow-delay="" data-wow-duration="1.5s"> <img src="/assets/images//logoShadow.png"></a>
      <div class="socialLogin">        
        <a href="/auth/facebook" class="fb"> <img src="/assets/images//fb.png" alt=""> Sign Up with Facebook </a>
        <a href="/auth/google_oauth2" class="gp"> <img src="/assets/images//gp.png" alt=""> Sign Up with Google </a>
        <a href="/auth/twitter" class="tw"> <img src="/assets/images//tw.png" alt=""> Sign Up with Twitter </a>
      </div>
      <div class="tac or">
        <div class="octagon">OR</div>
      </div>
      <div class="loginForm">
      
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { class: "profile_form" }) do |f| %>
          <div id="error_explanation" class="<%='errorMSg' if devise_error_messages!.include?("error_explanation")%>">
            <%= devise_error_messages! %>
          </div>
          <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", :maxlength=>"80", class: "inputText"%>
          <%= f.text_field :last_name, placeholder: "Last Name", :maxlength=>"80", class: "inputText"%>
          <%= f.text_field :screen_name,  placeholder: "Screen Name", :maxlength=>"80", class: "inputText"%>
          <%= f.email_field :email, placeholder: "Email", :maxlength=>"80", class: "inputText" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :maxlength=>"80", class: "inputText" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirm Password", :maxlength=>"80",class: "inputText" %>
          <%= f.submit "Signup", class: "darkBlueBtn inputSubmit" %>
        <%end%>
       </div>
      <p>Already Have Account? <%=link_to "Sign In", new_user_session_path%></p>
    </div>
  </div>
</div>

