<div class:="containerlogin">
  <div class:="login">
    <center>
      <h2>Sign up</h2>
    </center>
    <center>      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <table>
          <tr>
            <td>
              <div class="field">
                <%= f.label :email %>
              </div>
            </td>
            <td><%= f.email_field :email, autofocus: true ,placeholder:"Enter your email",class: "text_box" %></td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
              </div>
            </td>
            <td><%= f.password_field :password, autocomplete: "off",placeholder:"Enter your password",class: "text_box" %></td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= f.label :password_confirmation %>
              </div>
            </td>
            <td> <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Re-enter your password ",class: "text_box" %></td>
          </tr>
          <tr>
            <td>
              <div class="actions"></div>
            </td>
            <td>
              <%= f.submit "Sign up", class: "signup_button" %>
            </td>
          </tr>
        </table>
      <% end %>
      <%= render "users/shared/links" %>
    </center>
  </div>
</div>
<style type="text/css">
  .text_box {
    -moz-box-sizing: content-box;
    border: 1px solid #B2B2B2;
    border-radius: 23px;
    box-shadow: 0 16px 4px 0 rgba(168, 168, 168, 0.6) inset;
    margin-top: 18px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 99%;
  }
  input {
    outline: medium none;
  }
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  }
  h2:after {
    background: -moz-linear-gradient(left center , rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, #93B8BD 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    display: block;
    height: 10px;
    margin-top: 10px;
    width: 100%;
  }
  h2 {
    color: #066A75;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-size: 38px;
    font-weight: bold;
    padding: 2px 0;
    text-align: center;
  }
  .signup_button {
    background: none repeat scroll 0 0 #3D9DB3;
    border: 1px solid #1C6C7A;
    border-radius: 3px;
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 3px #FEFEFE, 0 5px 3px 3px #D2D2D2;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear 0s;
    width: 60%;
    margin-top: 18px;
  }
  .containerlogin {
    margin: 20px auto;
    width: 460px;
    border: 1px solid #1C6C7A;
    border-radius: 20px;
    box-shadow: 0 6px 8px 8px rgba(0, 0, 0, 0.07) inset, 0 0 0 3px #FEFEFE, 0 5px 3px 3px #D2D2D2;
  }
  .login {
    position: relative;
    margin: 0 auto;
    padding: 15px 15px 15px;
    width: 400px;
  }
</style>